<p>Jobber varierende.</p>

{{#each arbeidsforhold.arbeidIPeriode.arbeidsuker as |arbeidsuke|~}}
    {{#if arbeidsuke.prosentAvNormalt}}
        <p>Uke {{arbeidsuke.uke}}: {{arbeidsuke.prosentAvNormalt}} prosent ({{arbeidsuke.faktiskTimerAvNormalt}})</p>
    {{/if}}

    {{#if arbeidsuke.faktiskTimerPerUke}}
        <p>Uke {{arbeidsuke.uke}}: {{arbeidsuke.faktiskTimerPerUke}}</p>
    {{/if}}
{{/each}}
