{{#if arbeidIPeriode.jobberIPerioden}}
    <li>Jobber i perioden</li>
{{else}}
    <li>Jobber ikke i perioden</li>
{{/if}}

{{#if arbeidIPeriode.jobberProsent}}
    <li>Jobber {{arbeidIPeriode.jobberProsent}} prosent, i snitt {{arbeidIPeriode.snittTimerPerUkedag}} hver dag.</li>
{{/if}}

<!-- Viser erLiktHverUke dersom jobberProsent ikke er satt. -->
{{#unless arbeidIPeriode.jobberProsent}}
    {{#if arbeidIPeriode.erLiktHverUkeSatt}}
        {{#if arbeidIPeriode.erLiktHverUke}}
            <li>Jobber likt hver uke</li>
        {{else}}
            <li>Jobber variert</li>
        {{/if}}
    {{/if}}
{{/unless}}

{{#if arbeidIPeriode.enkeltdagerPerMnd}}
    <li class="li-style-none">
        <ul class="ul-no-indent">
            {{#each arbeidIPeriode.enkeltdagerPerMnd as |enkeltdagerPerMnd|~}}
                <li>
                    <p><b>Jobb registrert i {{enkeltdagerPerMnd.måned}} {{enkeltdagerPerMnd.år}}</b></p>
                    <ul class="ul-no-indent">
                        {{#each enkeltdagerPerMnd.enkeltdagerPerUke as |enkeltdagerPerUke|~}}
                            <li>
                                <p>Uke {{enkeltdagerPerUke.uke}}</p>
                                <ul>
                                    {{#each enkeltdagerPerUke.dager as |enkeltdag|~}}
                                        <li>
                                            <p>{{enkeltdag.dag}} {{enkeltdag.dato}}: {{enkeltdag.tid}}</p>
                                        </li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{/each}}
        </ul>
    </li>
{{/if}}

<!-- Viser fasteDager dersom jobberProsent ikke er satt. Hvis prosent er satt er det vi som har mappet opp en ukeplan selv, ikke bruker -->
{{#unless arbeidIPeriode.jobberProsent}}
    {{#if arbeidIPeriode.fasteDager}}
        <li class="li-style-none"><b>Faste dager:</b>
            <ul>
                <li>Mandag: {{arbeidIPeriode.fasteDager.mandag}}</li>
                <li>Tirsdag: {{arbeidIPeriode.fasteDager.tirsdag}}</li>
                <li>Onsdag: {{arbeidIPeriode.fasteDager.onsdag}}</li>
                <li>Torsdag: {{arbeidIPeriode.fasteDager.torsdag}}</li>
                <li>Fredag: {{arbeidIPeriode.fasteDager.fredag}}</li>
            </ul>
        </li>
    {{/if}}
{{/unless}}