<table class="arbeidstidinfo_tabell">
    <thead>
    <tr>
        <th>Uke</th>
        <th>Periode</th>
        <th>Normal arbeidstid</th>
        <th>Endret arbeidstid</th>
    </tr>
    </thead>
    <tbody>
    {{#each arbeidstidinfo.perioder as |periode|~}}
    <tr>
        <td>{{periode.periode.uke}}</td>
        <td>{{periode.periode.fraOgMed}} - {{periode.periode.tilOgMed}}</td>
        <td>{{periode.arbeidstidPeriodeInfo.jobberNormaltTimerPerUke}}</td>
        <td>{{periode.arbeidstidPeriodeInfo.faktiskArbeidTimerPerUke}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>
