<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Ettersending av vedlegg for omsorgspenger</title>
    {{#block 'style' }}
    {{/block}}
</head>
<body>
<div id="header">
    <img class="navlogo" src="{{ image "Navlogo.png" }}"/>
    <h1 class="title">Ettersending av vedlegg for omsorgspenger</h1>
</div>
<div class="container">
    <div id="container_top">
        <div class="nokkeldata">
            <br/><br/>
            <p>
                <span class="nokkeldata__overskrift">Sendt til NAV</span><br/>
                {{soknad_mottatt_dag}} {{ soknad_mottatt }}
            </p>
        </div>
        <div class="personinfo">
            <div class="persontekst">
                <div class="persontekst__sidetopp">
                    <img class="ikon" src="{{ image "Personikon.png" }}"/>
                    <div class="persontekst__personalia">
                        <p class="navn">
                            {{ søker.navn }}
                        </p>
                        <p class="id">
                            {{ søker.fødselsnummer }}<br/>
                        </p>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>

    <!-- Ettersending -->
    <h2><span>Ettersending av vedlegg</span></h2>
    <div class="fritekst">
        <p class="sporsmalstekst"><img class="lite_ikon" src="{{ image "Fritekst.png" }}"/>Beskrivelse:</p>
        <p class="fritekst_textarea">{{beskrivelse}}</p>
    </div>

    <h2><span>Dokumenter</span></h2>
    <ul>
        {{#each titler.vedlegg as |vedlegg|}}
            <li><p>{{vedlegg.tittel}}</p></li>
        {{/each}}
    </ul>

    <!-- SAMTYKKE -->
    <h2><span>Samtykke</span></h2>

    <p class="sporsmalstekst">Har forstått rettigheter og plikter?</p>
    {{# if samtykke.harForståttRettigheterOgPlikter }}
        <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Ja
        <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Nei
    {{else}}
        <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Ja
        <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Nei
    {{/if}}
    <hr/>
    <p class="sporsmalstekst">Har bekreftet opplysninger?</p>
    {{# if samtykke.harBekreftetOpplysninger }}
        <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Ja
        <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Nei
    {{else}}
        <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Ja
        <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Nei
    {{/if}}
</div>

<!-- FOOTER -->
<div id="footer">
    <span class="soknadsid">{{ soknad_id }}</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</div>
</body>
</html>
