<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Søknad om pleiepenger for sykt barn eller person over 18 år</title>
    <meta name="subject" content="Søknad om pleiepenger for sykt barn eller person over 18 år" />
    <meta name="author" content="nav.no" />
    <meta name="description"
          content="Søknad om pleiepenger for sykt barn eller person over 18 år mottatt {{soknad_mottatt_dag}} {{ soknad_mottatt }}" />
    <bookmarks>
        <bookmark name="Søker" href="#søker" />
        <bookmark name="Barn" href="#barn" />
        <bookmark name="Relasjon til barnet" href="#relasjonTilBarnet" />
        <bookmark name="Perioder" href="#perioder" />
        <bookmark name="Utenlandsopphold" href="#utenlandsopphold" />
        <bookmark name="Arbeidsforhold" href="#arbeidsforhold" />
        <bookmark name="Omsorgstilbud" href="#omsorgstilbud" />
        <bookmark name="Verneplikt" href="#verneplikt" />
        <bookmark name="Nattevåk" href="#nattevaak" />
        <bookmark name="Beredskap" href="#beredskap" />
        <bookmark name="Frilans" href="#frilans" />
        <bookmark name="Selvstendig" href="#selvstendig" />
        <bookmark name="Medlemskap" href="#medlemskap" />
        <bookmark name="Vedlegg" href="#vedlegg" />
        <bookmark name="Samtykke" href="#samtykke" />
    </bookmarks>
    {{#block 'style-common' }} {{/block}}
</head>

<body>
<h1 id="header">Søknad om pleiepenger for sykt barn eller person over 18 år</h1>

<p class="nokkelinfo"><strong>Sendt til NAV </strong>{{soknad_mottatt_dag}} {{ soknad_mottatt }}</p>

<div class="innholdscontainer">
    <div class="person" id="søker">
        <p>Søker</p>
        <p class="navn">
            {{ soker.navn }}
        </p>
        <p>
            {{ soker.fodselsnummer }}<br />
        </p>
    </div>
    <div class="person" id="barn">
        <p>Barn</p>
        <p class="navn">
            {{# if barn.navn }}
                {{ barn.navn }}
            {{else}}
                <span class="ikke_satt">Navn ikke angitt</span>
            {{/if}}
        </p>
        <p>
            {{# if barn.fodselsdato }}
                {{ barn.fodselsdato }} <br />
            {{/if}}
            {{# if barn.id }}
                {{ barn.id }}
            {{else}}
                <span class="ikke_satt">ID ikke angitt</span>
            {{/if}}
        </p>
    </div>

    <section id="relasjonTilBarnet">
        {{#if barnRelasjon}}
            <h2>Relasjon til barnet</h2>
            <p class="sporsmalstekst">Hvilken relasjon har du til barnet?</p>
            <p>{{barnRelasjon}}</p>
            {{#if barnRelasjonBeskrivelse}}
                <p class="sporsmalstekst">Din beskrivelse av relasjon og tilsynsrolle for barnet:</p>
                <p>{{barnRelasjonBeskrivelse}}</p>
            {{/if}}
        {{/if}}
    </section>

    <section id="perioder">
        <h2>Perioder du søker om pleiepenger</h2>
        <ul>
            <li>
                <strong>{{ periode.fra_og_med }} - {{ periode.til_og_med }}</strong><br/>
                <ul>
                    {{#if bekrefterPeriodeOver8Uker}}
                        <li>Du bekrefter at søknaden gjelder for en periode på mer enn 8 uker.</li>
                    {{/if}}

                    {{# if hjelp.har_medsoker }}
                        <li>
                            Du opplyser at en medsøker skal søke for samme periode som deg.<br/>
                            <ul>
                                {{# if samtidig_hjemme }}
                                    <li>
                                        Du opplyser at du og medsøker skal være hjemme eller på sykehus samtidig.
                                    </li>
                                {{/if}}
                                {{#unless samtidig_hjemme}}
                                    <li>
                                        Du opplyser at du og medsøker ikke skal være hjemme eller på sykehus samtidig.
                                    </li>
                                {{/unless}}
                            </ul>
                        </li>

                    {{else}}
                        <li>Det er ikke oppgitt andre medsøkere.</li>
                    {{/if}}

                    {{# if skal_passe_pa_barnet_i_hele_perioden}}
                        <li>
                            Du bekrefter at du har omsorgen for barnet i hele perioden du søker om.<br/>
                            {{# if beskrivelse_omsorgsrollen}}
                                <div class="fritekst">
                                    <p class="sporsmalstekst">Din beskrivelse av omsorgsrollen:</p>
                                    <p class="fritekst_textarea">{{fritekst beskrivelse_omsorgsrollen}}</p>
                                </div>
                            {{/if}}
                        </li>
                    {{/if}}
                </ul>
            </li>
        </ul>
    </section>

    <section id="utenlandsopphold">
        <h2>Perioder med utenlandsopphold og ferie</h2>
        <p class="sporsmalstekst">Skal du reise til utlandet i perioden du søker om pleiepenger?</p>
        {{# if utenlandsoppholdIPerioden.skalOppholdeSegIUtlandetIPerioden }}
            <p>{{ jaNeiSvar utenlandsoppholdIPerioden.skalOppholdeSegIUtlandetIPerioden }}</p>
            <ul>
                {{# each utenlandsoppholdIPerioden.opphold as |opphold|~}}
                    <li>
                        <p>{{opphold.landnavn}}{{#if opphold.erUtenforEØS}} (utenfor EØS) {{/if}}: {{opphold.fraOgMed}} - {{opphold.tilOgMed}}</p>
                        {{#if opphold.erUtenforEØS}}
                            {{#if opphold.erBarnetInnlagt}}
                                <p><b>Er barnet innlagt?</b> {{ jaNeiSvar opphold.erBarnetInnlagt }}</p>
                                <p><b>Perioder:</b>
                                    {{# each opphold.perioderBarnetErInnlagt as |periode| }}
                                        {{#if @last}}
                                            {{periode.fraOgMed}} - {{periode.tilOgMed}}
                                        {{else}}
                                            {{periode.fraOgMed}} - {{periode.tilOgMed}},
                                        {{/if}}
                                    {{/each}}</p>
                                <p>{{opphold.årsak}}</p>
                            {{/if}}
                        {{/if}}
                        <br/>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>{{ jaNeiSvar utenlandsoppholdIPerioden.skalOppholdeSegIUtlandetIPerioden }}</p>
        {{/if}}

        <p class="sporsmalstekst">Skal du ha ferie i perioden du søker om pleiepenger?</p>
        {{# if ferieuttakIPerioden.skalTaUtFerieIPerioden }}
            <p>Du opplyser at du skal ha ferie</p>
            <ul>
                {{# each ferieuttakIPerioden.ferieuttak as |ferieuttak|~}}
                    <li>
                        {{ferieuttak.fraOgMed}} - {{ferieuttak.tilOgMed}}
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>{{ jaNeiSvar utenlandsoppholdIPerioden.skalTaUtFerieIPerioden }}</p>
        {{/if}}
    </section>

    <section id="arbeidsforhold">
        <h2>Arbeidssituasjonen din</h2>
        {{# if hjelp.ingen_arbeidsgivere }}
            <ul>
                <li class="ikke_satt">Du har ikke angitt noen arbeidsgivere i søknaden.</li>
            </ul>
        {{/if}}

        {{# if arbeidsgivere.har_arbeidsgivere }}
            <ul>
                {{# each arbeidsgivere.organisasjoner as |org|~}}
                    <li><b>{{org.navn}} (orgnr: {{org.organisasjonsnummer}})</b>
                    <ul>
                        <li>
                            {{#if org.skal_jobbe}}
                                {{#skalJobbeEq org.skal_jobbe "JA"}}
                                    Du skal jobbe som vanlig i perioden.
                                {{/skalJobbeEq}}

                                {{#skalJobbeEq org.skal_jobbe "NEI"}}
                                    Du skal ikke jobbe her i perioden.
                                {{/skalJobbeEq}}

                                {{#skalJobbeEq org.skal_jobbe "REDUSERT"}}
                                    Du skal jobbe redusert i perioden.
                                {{/skalJobbeEq}}

                                {{#skalJobbeEq org.skal_jobbe "VET_IKKE"}}
                                    Du vet ikke om du skal jobbe her, men sier fra hvis det blir tilfelle.
                                {{/skalJobbeEq}}
                            {{/if}}
                        </li>

                        <li>
                            {{#if org.skal_jobbe_prosent }}
                                {{#unless org.jobber_normaltimer }}
                                    Du jobbe {{org.skal_jobbe_prosent }}% av din stilling. Du får et
                                    inntektstap på {{org.inntektstap_prosent}}%.
                                {{/unless}}
                            {{/if}}
                        </li>
                        <li>
                            {{#if org.skal_jobbe_prosent }}
                                {{#if org.jobber_normaltimer }}
                                    <li>Du jobber vanligvis {{org.jobber_normaltimer }} timer i uken hos denne arbeidsgiveren.</li>
                                    <li>I perioden med pleiepenger skal du jobbe {{org.skal_jobbe_prosent }}%. Du får et inntektstap
                                        på {{org.inntektstap_prosent}}%.
                                    </li>
                                {{/if}}
                            {{/if}}
                        </li>
                        <li>
                            {{#if org.jobber_normaltimer}}
                                {{#if org.vet_ikke_ekstra_info}}
                                    Du jobber vanligvis {{org.jobber_normaltimer}} timer i uken.<br/>
                                {{/if}}
                            {{/if}}
                        </li>

                        {{#if org.arbeidsform}}
                            <li>Arbeidsform: {{org.arbeidsform}}.</li>
                        {{/if}}

                    </ul>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
    </section>

    <section id="frilans">
        {{# if søknad.frilans }}
            <h2>Frilans</h2>
            <p class="sporsmalstekst">Når startet du som frilanser?</p>
            <p>{{#dato søknad.frilans.startdato}}{{/dato}}</p>
            <p class="sporsmalstekst">Har du jobbet og hatt inntekt som frilanser de siste 4 ukene?</p>
            <p>{{ jaNeiSvar true }}</p>
            <p class="sporsmalstekst">Jobber du fremdeles som frilanser?</p>
            <p>{{ jaNeiSvar søknad.frilans.jobberFortsattSomFrilans }}</p>

            {{#if søknad.frilans.arbeidsforhold}}
                <p class="sporsmalstekst">Hvordan jobber du som frilanser?</p>
                {{#skalJobbeEq frilanserArbeidsforhold.skalJobbe "JA"}}
                    <p>Skal jobbe som vanlig. Jobber vanligvis {{frilanserArbeidsforhold.jobberNormaltTimer}} timer i uka
                        ({{frilanserArbeidsforhold.arbeidsform}}).
                    </p>
                {{/skalJobbeEq}}
                {{#skalJobbeEq frilanserArbeidsforhold.skalJobbe "NEI"}}
                    <p>Skal ikke jobbe. Jobber vanligvis {{frilanserArbeidsforhold.jobberNormaltTimer}} timer i uka
                        ({{frilanserArbeidsforhold.arbeidsform}}).
                    </p>
                {{/skalJobbeEq}}
                {{#skalJobbeEq frilanserArbeidsforhold.skalJobbe "REDUSERT"}}
                    <p>Skal jobbe {{frilanserArbeidsforhold.skalJobbeProsent}} prosent av {{frilanserArbeidsforhold.jobberNormaltTimer}} timer i uka.
                        Jobber vanligvis {{frilanserArbeidsforhold.jobberNormaltTimer}} timer i uka ({{frilanserArbeidsforhold.arbeidsform}}).
                    </p>
                {{/skalJobbeEq}}
                {{#skalJobbeEq frilanserArbeidsforhold.skalJobbe "VET_IKKE"}}
                    <p>Jeg vet ikke om jeg skal jobbe her i perioden jeg søker for, men jeg melder fra hvis jeg skal gjøre det.
                        Jobber vanligvis {{frilanserArbeidsforhold.jobberNormaltTimer}} timer i uka
                        ({{frilanserArbeidsforhold.arbeidsform}}).
                    </p>
                {{/skalJobbeEq}}
            {{/if}}
        {{/if}}
    </section>

    <section id="selvstendig">
        {{#if søknad.selvstendigVirksomheter}}
            <h2>Selvstendig næringsdrivende</h2>
            {{# each søknad.selvstendigVirksomheter as |virksomhet|~}}
                <h3>{{virksomhet.navnPåVirksomheten}} (startet {{#dato virksomhet.fraOgMed}}{{/dato}},
                    {{#if virksomhet.tilOgMed}}
                        avsluttet {{#dato virksomhet.tilOgMed}}{{/dato}})
                    {{else}}
                        er pågående)
                    {{/if}}</h3>
                <p>Næringstype:
                    {{# each virksomhet.næringstyper as |næringstype|~}}
                        {{#if @first}}
                            {{#enumNæringstyper næringstype}}{{/enumNæringstyper}}
                        {{else}}
                            , {{#enumNæringstyper næringstype}}{{/enumNæringstyper}}
                        {{/if}}
                        {{#eq næringstype "FISKE"}}
                            {{#if virksomhet.fiskerErPåBladB}}
                                (blad B)
                            {{else}}
                                (ikke blad B)
                            {{/if}}
                        {{/eq}}
                    {{/each}}</p>
                {{#if virksomhet.næringsinntekt}}
                    <p>Næringsinntekt: {{virksomhet.næringsinntekt}},-</p>
                {{/if}}
                {{#if virksomhet.registrertINorge}}
                    <p>Registrert i Norge</p>
                    <p>Organisasjonsnummeret: {{virksomhet.organisasjonsnummer}}</p>
                {{else}}
                    <p>Registrert i land: {{virksomhet.registrertIUtlandet.landnavn}} ({{virksomhet.registrertIUtlandet.landkode}})</p>
                {{/if}}

                {{#if virksomhet.yrkesaktivSisteTreFerdigliknedeÅrene}}
                    <p>Oppgi dato for når du ble yrkesaktiv: {{#dato virksomhet.yrkesaktivSisteTreFerdigliknedeÅrene.oppstartsdato}}{{/dato}}</p>
                {{/if}}
                {{#if virksomhet.varigEndring}}
                    <h3>Varig endring</h3>
                    <ul>
                        <li>
                            <p>Dato for når varig endring oppsto: {{#dato virksomhet.varigEndring.dato}}{{/dato}}</p>
                            <p>Næringsinntekt etter endringen: {{virksomhet.varigEndring.inntektEtterEndring}}</p>
                            <div class="fritekst">
                                <p class="sporsmalstekst">Din forklaring om varig endring:</p>
                                <p class="fritekst_textarea">{{virksomhet.varigEndring.forklaring}}</p>
                            </div>
                        </li>
                    </ul>
                {{/if}}
                {{#if virksomhet.regnskapsfører}}
                    <h3>Regnskapsfører:</h3>
                    <ul>
                        <li>
                            <p>Navn: {{virksomhet.regnskapsfører.navn}}</p>
                            <p>Telefon: {{virksomhet.regnskapsfører.telefon}}</p>
                        </li>
                    </ul>
                {{/if}}
                {{#if @last}}
                {{else}}
                    <hr/>
                {{/if}}
            {{/each}}

            {{#if selvstendigArbeidsforhold}}
                <p class="sporsmalstekst">Hvordan jobber du som selvstending næringsdrivende?</p>
                {{#skalJobbeEq selvstendigArbeidsforhold.skalJobbe "JA"}}
                    <p>Skal jobbe som vanlig. Jobber vanligvis {{selvstendigArbeidsforhold.jobberNormaltTimer}} timer i uka
                        ({{selvstendigArbeidsforhold.arbeidsform}}).
                    </p>
                {{/skalJobbeEq}}
                {{#skalJobbeEq selvstendigArbeidsforhold.skalJobbe "NEI"}}
                    <p>Skal ikke jobbe. Jobber vanligvis {{selvstendigArbeidsforhold.jobberNormaltTimer}} timer i uka
                        ({{selvstendigArbeidsforhold.arbeidsform}}).
                    </p>
                {{/skalJobbeEq}}
                {{#skalJobbeEq selvstendigArbeidsforhold.skalJobbe "REDUSERT"}}
                    <p>Skal jobbe {{selvstendigArbeidsforhold.skalJobbeProsent}} prosent av {{selvstendigArbeidsforhold.jobberNormaltTimer}} timer i uka.
                        Jobber vanligvis {{selvstendigArbeidsforhold.jobberNormaltTimer}} i uka ({{selvstendigArbeidsforhold.arbeidsform}}).
                    </p>
                {{/skalJobbeEq}}
                {{#skalJobbeEq selvstendigArbeidsforhold.skalJobbe "VET_IKKE"}}
                    <p>Jeg vet ikke om jeg skal jobbe her i perioden jeg søker for, men jeg melder fra hvis jeg skal gjøre det.
                        Jobber vanligvis {{selvstendigArbeidsforhold.jobberNormaltTimer}} timer i uka
                        ({{selvstendigArbeidsforhold.arbeidsform}}).
                    </p>
                {{/skalJobbeEq}}
            {{/if}}
        {{/if}}
    </section>

    <section id="omsorgstilbud">
        {{# if tilsynsordning }}
            <h2>Omsorgstilbud</h2>
            <p class="sporsmalstekst">Skal barnet være i et omsorgstilbud i perioden du har søkt om?</p>
            <!-- Sjekkbokser -->
            {{#eq tilsynsordning.tilsynsordning_svar "ja" }}
                <p>Ja</p>
            {{/eq}}
            {{#eq tilsynsordning.tilsynsordning_svar "nei" }}
                <p>Nei</p>
            {{/eq}}
            {{#eq tilsynsordning.tilsynsordning_svar "vetIkke" }}
                <p>Usikker</p>
            {{/eq}}

            <!-- Ja -->
            {{#eq tilsynsordning.tilsynsordning_svar "ja" }}
                <hr/>
                <p><span class="sporsmalstekst">Mandag: </span>
                    {{# if tilsynsordning.mandag }}
                        {{tilsynsordning.mandag}}
                    {{ else }}
                        <span class="ikke_satt">Nei</span>
                    {{/if}}
                </p>
                <p><span class="sporsmalstekst">Tirsdag: </span>
                    {{# if tilsynsordning.tirsdag }}
                        {{tilsynsordning.tirsdag}}
                    {{ else }}
                        <span class="ikke_satt">Nei</span>
                    {{/if}}
                </p>
                <p><span class="sporsmalstekst">Onsdag: </span>
                    {{# if tilsynsordning.onsdag }}
                        {{tilsynsordning.onsdag}}
                    {{ else }}
                        <span class="ikke_satt">Nei</span>
                    {{/if}}
                </p>
                <p><span class="sporsmalstekst">Torsdag: </span>
                    {{# if tilsynsordning.torsdag }}
                        {{tilsynsordning.torsdag}}
                    {{ else }}
                        <span class="ikke_satt">Nei</span>
                    {{/if}}
                </p>
                <p><span class="sporsmalstekst">Fredag: </span>
                    {{# if tilsynsordning.fredag }}
                        {{tilsynsordning.fredag}}
                    {{ else }}
                        <span class="ikke_satt">Nei</span>
                    {{/if}}
                </p>
                <br/>
                <p>Dette tilsvarer <span class="sporsmalstekst">{{tilsynsordning.prosent_av_normal_arbeidsuke}}
                    %</span> av en normal arbeidsuke på <span class="sporsmalstekst">37 timer og 30 minutter.</span></p>
                <br/>
                {{#if tilsynsordning.tilleggsinformasjon}}
                    <div class="fritekst">
                        <p class="sporsmalstekst"> Dine tilleggsopplysninger:</p>
                        <p class="fritekst_textarea">{{fritekst tilsynsordning.tilleggsinformasjon}}</p>
                    </div>
                {{/if}}
            {{/eq}}

            <!-- Vet ikke -->
            {{#eq tilsynsordning.tilsynsordning_svar "vetIkke" }}
                <hr/>
                <!-- Sjekkbokser -->
                {{#eq tilsynsordning.svar "erSporadisk" }}
                    <p>Er sporadisk</p>
                {{/eq}}
                {{#eq tilsynsordning.svar "erIkkeLagetEnPlan" }}
                    <p>Er ikke laget en plan</p>
                {{/eq}}
                {{#eq tilsynsordning.svar "annet" }}
                    <p>Annet</p>
                {{/eq}}
                <br/>
                <br/>
                {{#if tilsynsordning.annet}}
                    <div class="fritekst">
                        <p class="sporsmalstekst"> Du er usikker, fordi:</p>
                        <p class="fritekst_textarea">{{fritekst tilsynsordning.annet}}</p>
                    </div>
                {{/if}}
            {{/eq}}
        {{/if}}
    </section>

    <section id="verneplikt">
        <h2>Verneplikt</h2>
        <p class="sporsmalstekst">Utøvde du verneplikt på tidspunktet du søker pleiepenger fra?</p>
        <p>{{ jaNeiSvar harVærtEllerErVernepliktig }}</p>
    </section>

    <section id="nattevaak">
        {{# if nattevaak }}
            <h2>Nattevåk</h2>
            <p class="sporsmalstekst">Må du være våken om natten for å pleie barnet, og derfor må være borte fra jobb dagen etter?</p>
            <p>{{ jaNeiSvar nattevaak.har_nattevaak }}</p>
            {{# if nattevaak.tilleggsinformasjon }}
                <div class="fritekst">
                    <p class="sporsmalstekst">Dine tilleggsopplysninger:</p>
                    <p class="fritekst_textarea">{{fritekst nattevaak.tilleggsinformasjon}}</p>
                </div>
            {{/if}}
        {{/if}}
    </section>

    <section id="beredskap">
        {{# if beredskap }}
            <h2>Beredskap</h2>
            <p class="sporsmalstekst">Må du være i beredskap også når barnet er i et omsorgstilbud?</p>
            <p>{{ jaNeiSvar beredskap.i_beredskap }}</p>
            {{# if beredskap.tilleggsinformasjon }}
                <div class="fritekst">
                    <p class="sporsmalstekst">Dine tilleggsopplysninger:</p>
                    <p class="fritekst_textarea">{{fritekst beredskap.tilleggsinformasjon}}</p>
                </div>
            {{/if}}
        {{/if}}
    </section>

    <section id="medlemskap">
        <h2>Medlemskap i folketrygden</h2>
        <p class="sporsmalstekst">Har du bodd i utlandet de siste 12 månedene?</p>
        {{# if medlemskap.har_bodd_i_utlandet_siste_12_mnd }}
            <p>Ja</p>
            <ul>
                {{# each medlemskap.utenlandsopphold_siste_12_mnd as |opphold|~}}
                    <li>
                        {{opphold.landnavn}} ({{opphold.fraOgMed}} - {{opphold.tilOgMed}})
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>Nei</p>{{/if}}
        <hr />
        <p class="sporsmalstekst">Skal du bo i utlandet de neste 12 månedene?</p>
        {{# if medlemskap.skal_bo_i_utlandet_neste_12_mnd }}
            <p>Ja</p>
            <ul>
                {{# each medlemskap.utenlandsopphold_neste_12_mnd as |opphold|~}}
                    <li>
                        {{opphold.landnavn}} ({{opphold.fraOgMed}} - {{opphold.tilOgMed}})
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>Nei</p>{{/if}}
    </section>

    <section id="vedlegg">
        <!-- Info om har ikke lastet opp vedlegg -->
        {{#if harIkkeVedlegg}}
            <h2>Legeerklæring</h2>
            <p>Ingen vedlegg er lastet opp.</p>
        {{/if}}
    </section>

    <section id="samtykke">
        <h2>Samtykke fra deg</h2>
        <p class="sporsmalstekst">Har du forstått dine rettigheter og plikter?</p>
        <p>{{ jaNeiSvar samtykke.har_forstatt_rettigheter_og_plikter }}</p>
        <hr />
        <p class="sporsmalstekst">Har du bekreftet at opplysninger som er gitt er riktige?</p>
        <p>{{ jaNeiSvar samtykke.har_bekreftet_opplysninger }}</p>
    </section>
</div>
<!-- FOOTER -->
<p id="footer">
    <span class="soknadsid">{{ soknad_id }}</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</p>
</body>

</html>
