<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Søknad om pleiepenger for sykt barn eller person over 18 år</title>
    <meta name="subject" content="Søknad om pleiepenger for sykt barn eller person over 18 år"/>
    <meta name="author" content="nav.no"/>
    <meta name="description"
          content="Søknad om pleiepenger for sykt barn eller person over 18 år mottatt {{soknad_mottatt_dag}} {{ soknad_mottatt }}"/>
    <bookmarks>
        <bookmark name="Søker" href="#søker"/>
        <bookmark name="Barn" href="#barn"/>
        <bookmark name="Relasjon til barnet" href="#relasjonTilBarnet"/>
        <bookmark name="Perioder" href="#perioder"/>
        <bookmark name="Utenlandsopphold" href="#utenlandsopphold"/>
        <bookmark name="Arbeidsforhold" href="#arbeidsforhold"/>
        <bookmark name="Omsorgstilbud" href="#omsorgstilbud"/>
        <bookmark name="Verneplikt" href="#verneplikt"/>
        <bookmark name="Nattevåk" href="#nattevaak"/>
        <bookmark name="Beredskap" href="#beredskap"/>
        <bookmark name="Frilans" href="#frilans"/>
        <bookmark name="Selvstendig" href="#selvstendig"/>
        <bookmark name="Medlemskap" href="#medlemskap"/>
        <bookmark name="Vedlegg" href="#vedlegg"/>
        <bookmark name="Samtykke" href="#samtykke"/>
    </bookmarks>
    {{#block 'style-common' }} {{/block}}
</head>

<body>
<h1 id="header">Søknad om pleiepenger for sykt barn eller person over 18 år</h1>

<p class="nokkelinfo"><strong>Sendt til NAV </strong>{{soknad_mottatt_dag}} {{ soknad_mottatt }}</p>

<div class="innholdscontainer">
    <div class="person" id="søker">
        <p>Søker</p>
        <p class="navn">
            {{ soker.navn }}
        </p>
        <p>
            {{ soker.fodselsnummer }}<br/>
        </p>
    </div>
    <div class="person" id="barn">
        <p>Barn</p>
        <p class="navn">
            {{# if barn.navn }}
                {{ barn.navn }}
            {{else}}
                <span class="ikke_satt">Navn ikke angitt</span>
            {{/if}}
        </p>
        <p>
            {{# if barn.id }}
                {{ barn.id }}
            {{else}}
                <span class="ikke_satt">ID ikke angitt</span>
            {{/if}}
        </p>
    </div>

    <section id="relasjonTilBarnet">
        {{#if barnRelasjon}}
            <h2>Relasjon til barnet</h2>
            <p class="sporsmalstekst">Hvilken relasjon har du til barnet?</p>
            <p>{{barnRelasjon}}</p>
            {{#if barnRelasjonBeskrivelse}}
                <p class="sporsmalstekst">Din beskrivelse av relasjon og tilsynsrolle for barnet:</p>
                <p>{{barnRelasjonBeskrivelse}}</p>
            {{/if}}
        {{/if}}
    </section>

    <section id="perioder">
        <h2>Perioder du søker om pleiepenger</h2>
        <ul>
            <li>
                <strong>{{ periode.fra_og_med }} - {{ periode.til_og_med }}</strong><br/>
                <ul>
                    {{# if hjelp.har_medsoker }}
                        <li>
                            Du opplyser at en medsøker skal søke for samme periode som deg.<br/>
                            <ul>
                                {{# if samtidig_hjemme }}
                                    <li>
                                        Du opplyser at du og medsøker skal være hjemme eller på sykehus samtidig.
                                    </li>
                                {{/if}}
                                {{#unless samtidig_hjemme}}
                                    <li>
                                        Du opplyser at du og medsøker ikke skal være hjemme eller på sykehus samtidig.
                                    </li>
                                {{/unless}}
                            </ul>
                        </li>

                    {{else}}
                        <li>Det er ikke oppgitt andre medsøkere.</li>
                    {{/if}}

                    {{# if skal_passe_pa_barnet_i_hele_perioden}}
                        <li>
                            Du bekrefter at du har omsorgen for barnet i hele perioden du søker om.<br/>
                            {{# if beskrivelse_omsorgsrollen}}
                                <div class="fritekst">
                                    <p class="sporsmalstekst">Din beskrivelse av omsorgsrollen:</p>
                                    <p class="fritekst_textarea">{{fritekst beskrivelse_omsorgsrollen}}</p>
                                </div>
                            {{/if}}
                        </li>
                    {{/if}}
                </ul>
            </li>
        </ul>
    </section>

    <section id="utenlandsopphold">
        <h2>Perioder med utenlandsopphold og ferie</h2>
        <p class="sporsmalstekst">Skal du reise til utlandet i perioden du søker om pleiepenger?</p>
        {{# if utenlandsoppholdIPerioden.skalOppholdeSegIUtlandetIPerioden }}
            <p>{{ jaNeiSvar utenlandsoppholdIPerioden.skalOppholdeSegIUtlandetIPerioden }}</p>
            <ul>
                {{# each utenlandsoppholdIPerioden.opphold as |opphold|~}}
                    <li>
                        <p>{{opphold.landnavn}}{{#if opphold.erUtenforEØS}}
                            (utenfor EØS) {{/if}}: {{opphold.fraOgMed}} - {{opphold.tilOgMed}}</p>
                        {{#if opphold.erUtenforEØS}}
                            {{#if opphold.erBarnetInnlagt}}
                                <p><b>Er barnet innlagt?</b> {{ jaNeiSvar opphold.erBarnetInnlagt }}</p>
                                <p><b>Perioder:</b>
                                    {{# each opphold.perioderBarnetErInnlagt as |periode| }}
                                        {{#if @last}}
                                            {{periode.fraOgMed}} - {{periode.tilOgMed}}
                                        {{else}}
                                            {{periode.fraOgMed}} - {{periode.tilOgMed}},
                                        {{/if}}
                                    {{/each}}</p>
                                <p>{{opphold.årsak}}</p>
                            {{/if}}
                        {{/if}}
                        <br/>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>{{ jaNeiSvar utenlandsoppholdIPerioden.skalOppholdeSegIUtlandetIPerioden }}</p>
        {{/if}}

        <p class="sporsmalstekst">Skal du ha ferie i perioden du søker om pleiepenger?</p>
        {{# if ferieuttakIPerioden.skalTaUtFerieIPerioden }}
            <p>Du opplyser at du skal ha ferie</p>
            <ul>
                {{# each ferieuttakIPerioden.ferieuttak as |ferieuttak|~}}
                    <li>
                        {{ferieuttak.fraOgMed}} - {{ferieuttak.tilOgMed}}
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>{{ jaNeiSvar utenlandsoppholdIPerioden.skalTaUtFerieIPerioden }}</p>
        {{/if}}
    </section>

    <section id="arbeidsforhold">
        <h2>Arbeidssituasjonen din</h2>
        {{# if hjelp.ingen_arbeidsgivere }}
            <ul>
                <li class="ikke_satt">Du har ikke angitt noen arbeidsgivere i søknaden</li>
            </ul>
        {{/if}}


        {{#if arbeidsgivere.har_arbeidsgivere }}

            {{#each arbeidsgivere.organisasjoner as |org|~}}
                <ul>
                    <li><b>{{org.navn}} (orgnr: {{org.organisasjonsnummer}})</b></li>
                    <li class="li-style-none">Du har oppgitt at du</li>
                    <li class="li-style-none">
                        <ul>
                            <li>
                                {{#if org.jobber_normaltimer}}
                                    vanligvis jobber {{org.jobber_normaltimer}} timer per uke
                                    {{#if org.arbeidsform}}
                                        ({{org.arbeidsform}})
                                    {{/if}}<br/>
                                {{/if}}
                            </li>
                            <li>
                                {{#if org.skal_jobbe}}
                                    {{#eq org.skal_jobbe "ja"}}
                                        {{#if org.jobber_normaltimer}}
                                            skal jobbe som vanlig i pleiepengeperioden, {{org.jobber_normaltimer}}
                                            timer per uke
                                        {{/if}}
                                    {{/eq}}

                                    {{#eq org.skal_jobbe "nei"}}
                                        ikke skal jobbe i pleiepengeperioden
                                    {{/eq}}

                                    {{#eq org.skal_jobbe "redusert"}}
                                        {{#if org.skal_jobbe_prosent }}
                                            {{#if org.jobber_normaltimer }}
                                                skal jobbe {{org.skal_jobbe_prosent }} prosent
                                                av {{org.jobber_normaltimer}} timer per uke i pleiepengeperioden
                                            {{/if}}
                                        {{/if}}
                                    {{/eq}}

                                    {{#eq org.skal_jobbe "vetIkke"}}
                                        er usikker på om du skal jobbe i pleiepengeperioden, men at du melder fra hvis
                                        du starter å jobbe
                                    {{/eq}}
                                {{/if}}
                            </li>
                        </ul>
                    </li>
                </ul>
            {{/each}}
        {{/if}}

        {{#if søknad.frilans.arbeidsforhold}}
            <ul>
                <li><b>Frilans</b></li>
                <li class="li-style-none">Du har oppgitt at du som frilanser</li>
                <li class="li-style-none">
                    <ul>
                        <li>vanligvis jobber {{frilanserArbeidsforhold.jobberNormaltTimer}} timer per uke
                            ({{frilanserArbeidsforhold.arbeidsform}})
                        </li>

                        {{#eq frilanserArbeidsforhold.skalJobbe "ja"}}
                            <li>
                                skal jobbe som vanlig i
                                pleiepengeperioden, {{frilanserArbeidsforhold.jobberNormaltTimer}}
                                timer per uke
                            </li>
                        {{/eq}}
                        {{#eq frilanserArbeidsforhold.skalJobbe "nei"}}
                            <li>ikke skal jobbe i pleiepengeperioden</li>
                        {{/eq}}
                        {{#eq frilanserArbeidsforhold.skalJobbe "redusert"}}
                            <li>
                                skal jobbe {{frilanserArbeidsforhold.skalJobbeProsent}} prosent
                                av {{frilanserArbeidsforhold.jobberNormaltTimer}} timer per uke i pleiepengeperioden
                            </li>
                        {{/eq}}
                        {{#eq frilanserArbeidsforhold.skalJobbe "vetIkke"}}
                            <li>
                                er usikker på om du skal jobbe i pleiepengeperioden, men at du melder fra hvis du
                                starter å
                                jobbe
                            </li>
                        {{/eq}}
                    </ul>
                </li>
            </ul>
        {{/if}}

        {{#if selvstendigArbeidsforhold}}
            <ul>
                <li><b>Selvstendig næringsdrivende</b></li>
                <li class="li-style-none">Du har oppgitt at du som selvstendig næringsdrivende</li>
                <li class="li-style-none">
                    <ul>
                        <li>
                            vanligvis jobber {{selvstendigArbeidsforhold.jobberNormaltTimer}} timer per uke
                            ({{selvstendigArbeidsforhold.arbeidsform}})
                        </li>
                        {{#eq selvstendigArbeidsforhold.skalJobbe "ja"}}
                            <li>
                                skal jobbe som vanlig i
                                pleiepengeperioden, {{selvstendigArbeidsforhold.jobberNormaltTimer}}
                                timer per uke
                            </li>
                        {{/eq}}
                        {{#eq selvstendigArbeidsforhold.skalJobbe "nei"}}
                            <li>ikke skal jobbe i pleiepengeperioden</li>
                        {{/eq}}
                        {{#eq selvstendigArbeidsforhold.skalJobbe "redusert"}}
                            <li>
                                skal jobbe {{selvstendigArbeidsforhold.skalJobbeProsent}} prosent
                                av {{selvstendigArbeidsforhold.jobberNormaltTimer}} timer per uke
                            </li>
                        {{/eq}}
                        {{#eq selvstendigArbeidsforhold.skalJobbe "vetIkke"}}
                            <li>
                                er usikker på om du skal jobbe i pleiepengeperioden, men at du melder fra hvis du
                                starter å
                                jobbe
                            </li>
                        {{/eq}}
                    </ul>
                </li>
            </ul>
        {{/if}}
    </section>

    <section id="frilans">
        {{# if søknad.frilans }}
            <h2>Frilans</h2>
            <p class="sporsmalstekst">Er du frilanser i perioden du søker for?</p>
            <p>{{ jaNeiSvar true }}</p>
            <p class="sporsmalstekst">Når startet du som frilanser?</p>
            <p>{{#dato søknad.frilans.startdato}}{{/dato}}</p>
            <p class="sporsmalstekst">Jobber du fremdeles som frilanser?</p>
            <p>{{ jaNeiSvar søknad.frilans.jobberFortsattSomFrilans }}</p>

            {{#unless  søknad.frilans.jobberFortsattSomFrilans}}
                <p class="sporsmalstekst">Når sluttet du som frilanser?</p>
                <p>{{#dato søknad.frilans.sluttdato}}{{/dato}}</p>
            {{/unless}}
        {{/if}}
    </section>

    <section id="selvstendig">
        {{#if søknad.selvstendigVirksomheter}}
            <h2>Selvstendig næringsdrivende</h2>
            {{# each søknad.selvstendigVirksomheter as |virksomhet|~}}

                {{#if virksomhet.næringsinntekt}}
                    <p>Næringsinntekt: {{virksomhet.næringsinntekt}},-</p>
                {{/if}}

                {{#if virksomhet.yrkesaktivSisteTreFerdigliknedeÅrene}}
                    <p>Oppgi dato for når du ble yrkesaktiv:{{#dato
                            virksomhet.yrkesaktivSisteTreFerdigliknedeÅrene.oppstartsdato}}{{/dato}}</p>
                {{/if}}

                {{#if virksomhet.varigEndring}}
                    <h3>Varig endring</h3>
                    <ul>
                        <li>
                            <p>Dato for når varig endring oppsto: {{#dato virksomhet.varigEndring.dato}}{{/dato}}</p>
                            <p>Næringsinntekt etter endringen: {{virksomhet.varigEndring.inntektEtterEndring}}</p>
                            <div class="fritekst">
                                <p class="sporsmalstekst">Din forklaring om varig endring:</p>
                                <p class="fritekst_textarea">{{virksomhet.varigEndring.forklaring}}</p>
                            </div>
                        </li>
                    </ul>
                {{/if}}

                {{#if hjelper.harFlereAktiveVirksomheterErSatt}}
                    <p class="sporsmalstekst">Har du flere enn én næringsvirksomhet som er aktiv?</p>
                    {{jaNeiSvar virksomhet.harFlereAktiveVirksomheter}}
                {{/if}}

                <h3>Næringsvirksomhet som du har lagt inn:</h3>
                <h3>{{virksomhet.navnPåVirksomheten}} (startet {{#dato virksomhet.fraOgMed}}{{/dato}},
                    {{#if virksomhet.tilOgMed}}
                        avsluttet {{#dato virksomhet.tilOgMed}}{{/dato}})
                    {{else}}
                        er pågående)
                    {{/if}}</h3>

                <p>Næringstype:
                    {{# each virksomhet.næringstyper as |næringstype|~}}
                        {{#if @first}}
                            {{#enumNæringstyper næringstype}}{{/enumNæringstyper}}
                        {{else}}
                            , {{#enumNæringstyper næringstype}}{{/enumNæringstyper}}
                        {{/if}}
                        {{#eq næringstype "FISKE"}}
                            {{#if virksomhet.fiskerErPåBladB}}
                                (blad B)
                            {{else}}
                                (ikke blad B)
                            {{/if}}
                        {{/eq}}
                    {{/each}}</p>

                {{#if virksomhet.registrertINorge}}
                    <p>Registrert i Norge</p>
                    <p>Organisasjonsnummeret: {{virksomhet.organisasjonsnummer}}</p>
                {{else}}
                    <p>Registrert i land: {{virksomhet.registrertIUtlandet.landnavn}}
                        ({{virksomhet.registrertIUtlandet.landkode}})</p>
                {{/if}}


                {{#if virksomhet.regnskapsfører}}
                    <h3>Regnskapsfører:</h3>
                    <ul>
                        <li>
                            <p>Navn: {{virksomhet.regnskapsfører.navn}}</p>
                            <p>Telefon: {{virksomhet.regnskapsfører.telefon}}</p>
                        </li>
                    </ul>
                {{/if}}
                {{#if @last}}
                {{else}}
                    <hr/>
                {{/if}}
            {{/each}}

            <hr/>
        {{/if}}
    </section>

    <section id="verneplikt">
        {{# if hjelper.harVærtEllerErVernepliktigErSatt}}
            <h2>Verneplikt</h2>
            <p class="sporsmalstekst">Utøvde du verneplikt på tidspunktet du søker pleiepenger fra?</p>
            <p>{{ jaNeiSvar harVærtEllerErVernepliktig }}</p>
        {{/if}}
    </section>

    <section id="omsorgstilbud">
        <h2>Omsorgstilbud</h2>
        {{#if omsorgstilbud}}
            <p class="sporsmalstekst">Skal barnet være i et omsorgstilbud i hele eller deler av perioden du søker om?</p>
            <p>Ja</p>

            <br/>
            <p class="sporsmalstekst">Kan du oppgi tiden barnet skal være i omsorgstilbudet?</p>
            {{#eq omsorgstilbud.vetOmsorgstilbud "VET_ALLE_TIMER" }}
                <p>Ja</p>
            {{/eq}}

            {{#eq omsorgstilbud.vetOmsorgstilbud "VET_NOEN_TIMER" }}
                <p>Nei, jeg er usikker på hvor mye.</p> <br/>

                <br/>
                <p class="sporsmalstekst">Er du sikker på noe av tiden barnet skal være i omsorgstilbudet?</p>
                {{#if omsorgstilbud.fasteDager}}
                    <p>Ja</p>
                {{else}}
                    <p>Nei</p>
                {{/if}}
            {{/eq}}

            {{#eq omsorgstilbud.vetOmsorgstilbud "VET_IKKE" }}
                <p>Nei</p>
            {{/eq}}

            <br/>
            {{#if omsorgstilbud.fasteDager}}
                <p class="sporsmalstekst">Tid i omsorgstilbud hver uke i søknadsperioden</p>
                <p><span class="sporsmalstekst">Mandager: </span>
                    {{# if omsorgstilbud.fasteDager.mandag }}
                        {{omsorgstilbud.fasteDager.mandag}}
                    {{ else }}
                        <span class="ikke_satt">0 timer</span>
                    {{/if}}
                </p>
                <p><span class="sporsmalstekst">Tirsdager: </span>
                    {{# if omsorgstilbud.fasteDager.tirsdag }}
                        {{omsorgstilbud.fasteDager.tirsdag}}
                    {{ else }}
                        <span class="ikke_satt">0 timer</span>
                    {{/if}}
                </p>
                <p><span class="sporsmalstekst">Onsdager: </span>
                    {{# if omsorgstilbud.fasteDager.onsdag }}
                        {{omsorgstilbud.fasteDager.onsdag}}
                    {{ else }}
                        <span class="ikke_satt">0 timer</span>
                    {{/if}}
                </p>
                <p><span class="sporsmalstekst">Torsdager: </span>
                    {{# if omsorgstilbud.fasteDager.torsdag }}
                        {{omsorgstilbud.fasteDager.torsdag}}
                    {{ else }}
                        <span class="ikke_satt">0 timer</span>
                    {{/if}}
                </p>
                <p><span class="sporsmalstekst">Fredager: </span>
                    {{# if omsorgstilbud.fasteDager.fredag }}
                        {{omsorgstilbud.fasteDager.fredag}}
                    {{ else }}
                        <span class="ikke_satt">0 timer</span>
                    {{/if}}
                </p>
                <br/>
            {{/if}}

        {{else}}
            {{#if omsorgstilbudV2}}
                <p class="sporsmalstekst">Har barnet vært noe i et omsorgstilbud i perioden {{omsorgstilbudV2.søknadsperiodeFraOgMed}} til {{omsorgstilbudV2.dagensDato}}?</p>
                {{#if omsorgstilbudV2.historisk}}
                    <p>Ja</p>
                    <br/>

                    <p class="sporsmalstekst">Tid barnet har vært i omsorgstilbud:</p>
                    <ul>
                        {{#each omsorgstilbudV2.historisk.enkeltdagerPerUke as |enkeltdagerPerUke|~}}
                            <li>
                                <p>Uke {{enkeltdagerPerUke.uke}}</p>
                                <ul>
                                    {{#each enkeltdagerPerUke.dager as |enkeltdag|~}}
                                        <li>
                                            <p>{{enkeltdag.dag}} {{enkeltdag.dato}}:    {{enkeltdag.tid}}</p>
                                        </li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                    </ul>

                {{else}}
                    <p>Nei</p>
                    <br/>
                {{/if}}

                <p class="sporsmalstekst">Skal barnet være noe i et omsorgstilbud i perioden {{omsorgstilbudV2.morgendagensDato}} til {{omsorgstilbudV2.søknadsperiodeTilOgMed}}?</p>
                {{#if omsorgstilbudV2.planlagt}}
                    <p>Ja</p>
                    <br/>

                    <p class="sporsmalstekst">Kan du oppgi tiden barnet skal være i omsorgstilbudet?</p>
                    {{#eq omsorgstilbudV2.planlagt.vetOmsorgstilbud "VET_ALLE_TIMER" }}
                        <p>Ja</p>
                        <br/>

                        <p><span class="sporsmalstekst">Er tiden barnet skal være i omsorgstilbudet lik for hver dag i perioden du søker om? Det
                            vil si at alle mandger er like, alle tirsdager er like og så videre</span></p>
                        <p>{{ jaNeiSvar omsorgstilbudV2.planlagt.vetLikeDager }}</p>
                        <br/>

                        <p class="sporsmalstekst">Tid barnet skal være i omsorgstilbudet:</p>
                        <ul>
                            {{#each omsorgstilbudV2.planlagt.enkeltdagerPerUke as |enkeltdagerPerUke|~}}
                                <li>
                                    <p>Uke {{enkeltdagerPerUke.uke}}</p>
                                    <ul>
                                        {{#each enkeltdagerPerUke.dager as |enkeltdag|~}}
                                            <li>
                                                <p>{{enkeltdag.dag}} {{enkeltdag.dato}}:    {{enkeltdag.tid}}</p>
                                            </li>
                                        {{/each}}
                                    </ul>
                                </li>
                            {{/each}}
                        </ul>

                        {{#if omsorgstilbudV2.planlagt.ukedager}}
                            <p><span class="sporsmalstekst">Mandager: </span>
                                {{# if omsorgstilbudV2.planlagt.ukedager.mandag }}
                                    {{omsorgstilbudV2.planlagt.ukedager.mandag}}
                                {{ else }}
                                    <span class="ikke_satt">0 timer</span>
                                {{/if}}
                            </p>
                            <p><span class="sporsmalstekst">Tirsdager: </span>
                                {{# if omsorgstilbudV2.planlagt.ukedager.tirsdag }}
                                    {{omsorgstilbudV2.planlagt.ukedager.tirsdag}}
                                {{ else }}
                                    <span class="ikke_satt">0 timer</span>
                                {{/if}}
                            </p>
                            <p><span class="sporsmalstekst">Onsdager: </span>
                                {{# if omsorgstilbudV2.planlagt.ukedager.onsdag }}
                                    {{omsorgstilbudV2.planlagt.ukedager.onsdag}}
                                {{ else }}
                                    <span class="ikke_satt">0 timer</span>
                                {{/if}}
                            </p>
                            <p><span class="sporsmalstekst">Torsdager: </span>
                                {{# if omsorgstilbudV2.planlagt.ukedager.torsdag }}
                                    {{omsorgstilbudV2.planlagt.ukedager.torsdag}}
                                {{ else }}
                                    <span class="ikke_satt">0 timer</span>
                                {{/if}}
                            </p>
                            <p><span class="sporsmalstekst">Fredager: </span>
                                {{# if omsorgstilbudV2.planlagt.ukedager.fredag }}
                                    {{omsorgstilbudV2.planlagt.ukedager.fredag}}
                                {{ else }}
                                    <span class="ikke_satt">0 timer</span>
                                {{/if}}
                            </p>
                            <br/>
                        {{/if}}
                    {{/eq}}

                    {{#eq omsorgstilbudV2.planlagt.vetOmsorgstilbud "VET_IKKE" }}
                        <p>Nei</p>
                    {{/eq}}

                {{else}}
                    <p>Nei</p>
                {{/if}}
                {{else}}
                <p class="sporsmalstekst">Skal barnet være i et omsorgstilbud i hele eller deler av perioden du søker om?</p>
                <p>Nei</p>
            {{/if}}
        {{/if}}
    </section>

    <section id="nattevaak">
        {{# if nattevaak }}
            <h2>Nattevåk</h2>
            <p class="sporsmalstekst">Må du være våken om natten for å pleie barnet, og derfor må være borte fra jobb
                dagen etter?</p>
            <p>{{ jaNeiSvar nattevaak.har_nattevaak }}</p>
            {{# if nattevaak.tilleggsinformasjon }}
                <div class="fritekst">
                    <p class="sporsmalstekst">Dine tilleggsopplysninger:</p>
                    <p class="fritekst_textarea">{{fritekst nattevaak.tilleggsinformasjon}}</p>
                </div>
            {{/if}}
        {{/if}}
    </section>

    <section id="beredskap">
        {{# if beredskap }}
            <h2>Beredskap</h2>
            <p class="sporsmalstekst">Må du være i beredskap også når barnet er i et omsorgstilbud?</p>
            <p>{{ jaNeiSvar beredskap.i_beredskap }}</p>
            {{# if beredskap.tilleggsinformasjon }}
                <div class="fritekst">
                    <p class="sporsmalstekst">Dine tilleggsopplysninger:</p>
                    <p class="fritekst_textarea">{{fritekst beredskap.tilleggsinformasjon}}</p>
                </div>
            {{/if}}
        {{/if}}
    </section>

    <section id="medlemskap">
        <h2>Medlemskap i folketrygden</h2>
        <p class="sporsmalstekst">Har du bodd i utlandet de siste 12 månedene?</p>
        {{# if medlemskap.har_bodd_i_utlandet_siste_12_mnd }}
            <p>Ja</p>
            <ul>
                {{# each medlemskap.utenlandsopphold_siste_12_mnd as |opphold|~}}
                    <li>
                        {{opphold.landnavn}} ({{opphold.fraOgMed}} - {{opphold.tilOgMed}})
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>Nei</p>{{/if}}
        <hr/>
        <p class="sporsmalstekst">Skal du bo i utlandet de neste 12 månedene?</p>
        {{# if medlemskap.skal_bo_i_utlandet_neste_12_mnd }}
            <p>Ja</p>
            <ul>
                {{# each medlemskap.utenlandsopphold_neste_12_mnd as |opphold|~}}
                    <li>
                        {{opphold.landnavn}} ({{opphold.fraOgMed}} - {{opphold.tilOgMed}})
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>Nei</p>{{/if}}
    </section>

    <section id="vedlegg">
        <!-- Info om har ikke lastet opp vedlegg -->
        {{#if harIkkeVedlegg}}
            <h2>Legeerklæring</h2>
            <p>Ingen vedlegg er lastet opp.</p>
        {{/if}}
    </section>

    <section id="samtykke">
        <h2>Samtykke fra deg</h2>
        <p class="sporsmalstekst">Har du forstått dine rettigheter og plikter?</p>
        <p>{{ jaNeiSvar samtykke.har_forstatt_rettigheter_og_plikter }}</p>
        <hr/>
        <p class="sporsmalstekst">Har du bekreftet at opplysninger som er gitt er riktige?</p>
        <p>{{ jaNeiSvar samtykke.har_bekreftet_opplysninger }}</p>
    </section>
</div>
<!-- FOOTER -->
<p id="footer">
    <span class="soknadsid">{{ soknad_id }}</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</p>
</body>

</html>
