<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Søknad om pleiepenger for pleie av sykt barn</title>
    {{#block 'style' }}
    {{/block}}

    {{#*inline "jaNeiCheckbox"}}
        {{#if parameter}}
            <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Ja
            <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Nei
        {{else}}
            <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Ja
            <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Nei
        {{/if}}
    {{/inline}}

</head>
<body>
<div id="header">
    <img class="navlogo" src="{{ image "Navlogo.png" }}"/>
    <h1 class="title">Søknad om pleiepenger for pleie av sykt barn</h1>
</div>
<div class="container">
    <div id="container_top">
        <div class="nokkeldata">
            <br/><br/>
            <p>
                <span class="nokkeldata__overskrift">Sendt til NAV</span><br/>
                {{soknad_mottatt_dag}} {{ soknad_mottatt }}
            </p>
            <br/>
            <p>
                <span class="nokkeldata__overskrift">Gjelder perioden</span><br/>
                {{ periode.fra_og_med }} - {{ periode.til_og_med }}<br/>
            {{#if bekrefterPeriodeOver8Uker}}
                <p>Bekreftet periode over 8 uker</p>
            {{/if}}
            </p>
        </div>
        <div class="personinfo">
            <div class="persontekst">
                <div class="persontekst__sidetopp">
                    <img class="ikon" src="{{ image "Personikon.png" }}"/>
                    <div class="persontekst__personalia">
                        <p>
                            Søker
                        </p>
                        <p class="navn">
                            {{ soker.navn }}
                        </p>
                        <p class="id">
                            {{ soker.fodselsnummer }}<br/>
                        </p>
                    </div>
                    <br/>
                    <img class="ikon" src="{{ image "Personikon.png" }}"/>
                    <div class="persontekst__personalia">
                        <p>Barn</p>
                        <p class="navn">
                            {{# if barn.navn }}
                                {{ barn.navn }}
                            {{else}}
                                <span class="ikke_satt">Navn ikke angitt</span>
                            {{/if}}
                        </p>
                        {{# if barn.id }}
                        <p class="barnid">
                                {{ barn.id }}
                        </p>
                        {{else}}
                        <p class="fodselsdato">
                            {{# if barn.fodselsdato }}
                                {{ barn.fodselsdato }}
                            {{/if}}
                        </p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- HJELP -->
    <h2><span>
               Antall søkere
        </span></h2>
    <ul>
        {{# if hjelp.har_medsoker }}
            <li>Søker har opplyst om at en medsøker skal søke for samme periode.
            </li>
            {{# if samtidig_hjemme }}
                <li>
                    Søker og medsøker skal være hjemme / på sykehus samtidig.
                </li>
            {{/if}}
            {{#unless samtidig_hjemme}}
                <li>
                    Søker og medsøker skal <span class="highlight">ikke</span> være hjemme / på sykehus samtidig.
                </li>
            {{/unless}}
        {{else}}
            <li>Det er <span class="highlight">ikke</span> oppgitt andre medsøkere.
            </li>
        {{/if}}

        <!--{{# if hjelp.sprak }}
                <li>Det er valgt {{hjelp.sprak}} som språk i søknaden.</li>
            {{/if}}-->
    </ul>
    {{# if utenlandsoppholdIPerioden.skalOppholdeSegIUtlandetIPerioden }}
        <h2>
            <span>
               Utenlandsopphold / Ferie
            </span>
        </h2>
        <p class="sporsmalstekst">Skal du reise til utlandet i perioden du søker for?</p>
        {{# if utenlandsoppholdIPerioden.skalOppholdeSegIUtlandetIPerioden }}
            <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Ja
            <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Nei
            <ul>
                {{# each utenlandsoppholdIPerioden.opphold as |opphold|~}}
                    <li>
                        {{opphold.landnavn}} ({{opphold.fraOgMed}} - {{opphold.tilOgMed}})
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Ja
            <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Nei
        {{/if}}

        <p class="sporsmalstekst">Skal du ta ut feriedager i perioden?</p>
        {{# if ferieuttakIPerioden.skalTaUtFerieIPerioden }}
            <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Ja
            <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Nei
            <ul>
                {{# each ferieuttakIPerioden.ferieuttak as |ferieuttak|~}}
                    <li>
                       {{ferieuttak.fraOgMed}} - {{ferieuttak.tilOgMed}}
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Ja
            <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Nei
        {{/if}}
    {{/if}}
    <h2>
        <span>
           Arbeidsforhold
        </span></h2>
    <!-- ARBEIDSGIVERE -->
    {{# if hjelp.ingen_arbeidsgivere }}
        <ul>
            <li class="ikke_satt">Det er ikke angitt noen arbeidsgivere i søknaden.</li>
        </ul>
    {{/if}}

    {{# if arbeidsgivere.har_arbeidsgivere }}
        <ul>
            {{# each arbeidsgivere.organisasjoner as |org|~}}
                <li class="sporsmalstekst">{{org.navn}} (orgnr: {{org.organisasjonsnummer}})</li>
                <ul>
                    <li>
                        {{#if org.skal_jobbe}}
                            {{#eq org.skal_jobbe "ja"}}
                                Skal jobbe som vanlig
                            {{/eq}}

                            {{#eq org.skal_jobbe "nei"}}
                                Skal ikke jobbe her i perioden
                            {{/eq}}

                            {{#eq org.skal_jobbe "redusert"}}
                                Jobber redusert
                            {{/eq}}

                            {{#eq org.skal_jobbe "vet_ikke"}}
                                Søker vet ikke om hen skal jobbe her, men sier fra hvis det blir tilfelle.
                            {{/eq}}
                        {{/if}}
                    </li>

                    <li>
                        {{#if org.skal_jobbe_prosent }}
                            {{#unless org.jobber_normaltimer }}
                                Skal jobbe {{org.skal_jobbe_prosent }}% av sin stilling. Søker får et inntektstap
                                på {{org.inntektstap_prosent}}%
                            {{/unless}}
                        {{/if}}
                    </li>
                <li>
                    {{#if org.skal_jobbe_prosent }}
                        {{#if org.jobber_normaltimer }}
                            <li>Søker jobber vanligvis {{org.jobber_normaltimer }} timer i uken.</li>
                            <li>I perioden skal hen jobbe {{org.skal_jobbe_prosent }}%. Søker får et inntektstap
                                på {{org.inntektstap_prosent}}%
                            </li>
                        {{/if}}
                    {{/if}}
                    </li>
                    <li>
                        {{#if org.jobber_normaltimer}}
                            {{#if org.vet_ikke_ekstra_info}}
                                Søker jobber vanligvis {{org.jobber_normaltimer}} timer i uken.<br/>
                            {{/if}}
                        {{/if}}
                    </li>
                </ul>
            {{/each}}
        </ul>
    {{/if}}

    <!-- Omsorgstilbud -->
    {{# if tilsynsordning }}
        <h2><span>Omsorgstilbud</span></h2>

        <!-- Sjekkbokser -->
        {{#eq tilsynsordning.tilsynsordning_svar "ja" }}
            <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Ja
            <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Nei
            <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Usikker
        {{/eq}}
        {{#eq tilsynsordning.tilsynsordning_svar "nei" }}
            <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Ja
            <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Nei
            <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Usikker
        {{/eq}}
        {{#eq tilsynsordning.tilsynsordning_svar "vet_ikke" }}
            <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Ja
            <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Nei
            <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Usikker
        {{/eq}}

        <!-- Ja -->
        {{#eq tilsynsordning.tilsynsordning_svar "ja" }}
            <hr/>
            <p><span class="sporsmalstekst">Mandag: </span>
                {{# if tilsynsordning.mandag }}
                    {{tilsynsordning.mandag}}
                {{ else }}
                    <span class="ikke_satt">Ikke angitt</span>
                {{/if}}
            </p>
            <p><span class="sporsmalstekst">Tirsdag: </span>
                {{# if tilsynsordning.tirsdag }}
                    {{tilsynsordning.tirsdag}}
                {{ else }}
                    <span class="ikke_satt">Ikke angitt</span>
                {{/if}}
            </p>
            <p><span class="sporsmalstekst">Onsdag: </span>
                {{# if tilsynsordning.onsdag }}
                    {{tilsynsordning.onsdag}}
                {{ else }}
                    <span class="ikke_satt">Ikke angitt</span>
                {{/if}}
            </p>
            <p><span class="sporsmalstekst">Torsdag: </span>
                {{# if tilsynsordning.torsdag }}
                    {{tilsynsordning.torsdag}}
                {{ else }}
                    <span class="ikke_satt">Ikke angitt</span>
                {{/if}}
            </p>
            <p><span class="sporsmalstekst">Fredag: </span>
                {{# if tilsynsordning.fredag }}
                    {{tilsynsordning.fredag}}
                {{ else }}
                    <span class="ikke_satt">Ikke angitt</span>
                {{/if}}
            </p>
            <br/>
            <p>Dette tilsvarer <span class="sporsmalstekst">{{tilsynsordning.prosent_av_normal_arbeidsuke}}%</span> av
                en normal arbeidsuke på <span class="sporsmalstekst">37 timer og 30 minutter.</span></p>
            <br/>
            {{#if tilsynsordning.tilleggsinformasjon}}
                <div class="fritekst">
                    <p class="sporsmalstekst"><img class="lite_ikon" src="{{ image "Fritekst.png" }}"/> Søkers
                        tilleggsopplysninger:</p>
                    <p class="fritekst_textarea">{{fritekst tilsynsordning.tilleggsinformasjon}}</p>
                </div>
            {{/if}}
        {{/eq}}

        <!-- Vet ikke -->
        {{#eq tilsynsordning.tilsynsordning_svar "vet_ikke" }}
            <hr/>
            <!-- Sjekkbokser -->
            {{#eq tilsynsordning.svar "er_sporadisk" }}
                <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Er sporadisk
                <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Er ikke laget en plan
                <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Annet
            {{/eq}}
            {{#eq tilsynsordning.svar "er_ikke_laget_en_plan" }}
                <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Er sporadisk
                <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Er ikke laget en plan
                <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Annet
            {{/eq}}
            {{#eq tilsynsordning.svar "annet" }}
                <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Er sporadisk
                <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Er ikke laget en plan
                <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Annet
            {{/eq}}
            <br/>
            <br/>
            {{#if tilsynsordning.annet}}
                <div class="fritekst">
                    <p class="sporsmalstekst"><img class="lite_ikon" src="{{ image "Fritekst.png" }}"/> Søker er
                        usikker, fordi:</p>
                    <p class="fritekst_textarea">{{fritekst tilsynsordning.annet}}</p>
                </div>
            {{/if}}
        {{/eq}}
    {{/if}}

    <!-- NATTEVÅK -->
    {{# if nattevaak }}
        <h2><span>Nattevåk</span></h2>
        {{# if nattevaak.har_nattevaak }}
            <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Ja
            <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Nei
        {{else}}
            <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Ja
            <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Nei
        {{/if}}
        {{# if nattevaak.tilleggsinformasjon }}
            <br/>
            <br/>
            <div class="fritekst">
                <p class="sporsmalstekst"><img class="lite_ikon" src="{{ image "Fritekst.png" }}"/>Søkers
                    tilleggsopplysninger:</p>
                <p class="fritekst_textarea">{{fritekst nattevaak.tilleggsinformasjon}}</p>
            </div>
        {{/if}}
    {{/if}}

    <!-- Beredskap -->
    {{# if nattevaak }}
        <h2><span>Beredskap</span></h2>
        {{# if beredskap.i_beredskap }}
            <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Ja
            <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Nei
        {{else}}
            <img class="checkbox" src="{{ image "Checkbox_off.png" }}"/> Ja
            <img class="checkbox" src="{{ image "Checkbox_on.png" }}"/> Nei
        {{/if}}
        {{# if beredskap.tilleggsinformasjon }}
            <br/>
            <br/>
            <div class="fritekst">
                <p class="sporsmalstekst"><img class="lite_ikon" src="{{ image "Fritekst.png" }}"/>Søkers
                    tilleggsopplysninger:</p>
                <p class="fritekst_textarea">{{fritekst beredskap.tilleggsinformasjon}}</p>
            </div>
        {{/if}}
    {{/if}}

    <!-- FRILANS -->
    {{# if frilans }}
        <h2><span>Frilans</span></h2>
        <p class="sporsmalstekst">Har du jobbet og hatt inntekt som frilanser de siste 10 månedene?</p>
        {{>jaNeiCheckbox parameter=frilans}}
        <br/>
        <p>Når startet du som frilanser? {{frilans.startdato}}</p>
        <p class="sporsmalstekst">Jobber du fortsatt som frilanser?</p>
        {{>jaNeiCheckbox parameter=frilans.jobberFortsattSomFrilans}}
    {{/if}}

    <!-- SELVSTENDIG NÆRINGSDRIVENDE -->
    {{#if selvstendigVirksomheter.virksomhet}}
        <h2><span>Selvstendig næringsdrivende</span></h2>
        {{# each selvstendigVirksomheter.virksomhet as |virksomhet|~}}
            <ul>
                <h3>{{virksomhet.navnPaVirksomheten}} ({{virksomhet.fraOgMed}} -
                    {{#if virksomhet.tilOgMed}}
                        {{virksomhet.tilOgMed}})
                    {{else}}
                        pågående)
                    {{/if}}</h3>
                    <p>Næringstype:
                    {{# each virksomhet.naringstype as |naringstype|~}}
                        {{#if @first}}
                            {{naringstype.typeDetaljert}}
                        {{else}}
                            , {{naringstype.typeDetaljert}}
                        {{/if}}
                        {{#eq naringstype.typeDetaljert "FISKE"}}
                            {{#if virksomhet.fiskerErPåBladB}}
                                (blad B)
                            {{else}}
                                (ikke blad B)
                            {{/if}}
                        {{/eq}}
                    {{/each}}</p>
                {{#if virksomhet.naringsinntekt}}
                    <p>Næringsinntekt: {{virksomhet.naringsinntekt}},-</p>
                {{/if}}
                {{#if virksomhet.registrertINorge}}
                    <p>Registrert i Norge</p>
                    <p>Organisasjonsnummeret: {{virksomhet.organisasjonsnummer}}</p>
                {{else}}
                    <p>Registrert i land: {{virksomhet.registrertILand}}</p>
                {{/if}}

                {{#if virksomhet.yrkesaktivSisteTreFerdigliknedeArene}}
                    <p>Oppgi dato for når du ble yrkesaktiv: {{virksomhet.yrkesaktivSisteTreFerdigliknedeArene}}</p>
                {{/if}}
                {{#if virksomhet.harVarigEndringAvInntektSiste4Kalenderar}}
                    <h3>Varig endring</h3>
                    <ul>
                        <p>Dato for endring: {{virksomhet.varigEndring.dato}}</p>
                        <p>Næringsinntekten etter endringen: {{virksomhet.varigEndring.inntektEtterEndring}}</p>
                        <div class="fritekst">
                            <p class="sporsmalstekst"><img class="lite_ikon" src="{{ image "Fritekst.png" }}"/>Søkers
                                forklaring:</p>
                            <p class="fritekst_textarea">{{virksomhet.varigEndring.forklaring}}</p>
                        </div>
                    </ul>
                {{/if}}
                {{#if virksomhet.harRegnskapsforer}}
                    <h3>Regnskapsfører:</h3>
                    <ul>
                        <p>Navn: {{virksomhet.regnskapsforer.navn}}</p>
                        <p>Telefon: {{virksomhet.regnskapsforer.telefon}}</p>
                    </ul>
                {{else}}
                    {{#if virksomhet.harRevisor}}
                        <h3>Revisor:</h3>
                        <ul>
                            <p>Navn: {{virksomhet.revisor.navn}}</p>
                            <p>Telefon: {{virksomhet.revisor.telefon}}</p>
                            <p class="sporsmalstekst">Gir du NAV fullmakt til å innhente opplysninger direkte fra revisor?</p>
                            {{>jaNeiCheckbox parameter=virksomhet.revisor.kanInnhenteOpplysninger}}
                        </ul>
                    {{/if}}
                {{/if}}
                {{#if @last}}
                    <!--Setter ikke <hr/> på siste linje -->
                {{else}}
                    <hr/>
                {{/if}}
            </ul>
        {{/each}}
    {{/if}}

    <!-- MEDLEMSKAP -->
    <h2><span>Medlemskap</span></h2>
    <p class="sporsmalstekst">Har bodd i utlandet siste 12 månedene?</p>
    {{# if medlemskap.har_bodd_i_utlandet_siste_12_mnd }}
        {{>jaNeiCheckbox parameter=medlemskap.har_bodd_i_utlandet_siste_12_mnd}}
        <ul>
            {{# each medlemskap.utenlandsopphold_siste_12_mnd as |opphold|~}}
                <li>
                    {{opphold.landnavn}} ({{opphold.fraOgMed}} - {{opphold.tilOgMed}})
                </li>
            {{/each}}
        </ul>
    {{else}}
        {{>jaNeiCheckbox parameter=medlemskap.har_bodd_i_utlandet_siste_12_mnd}}
    {{/if}}
    <hr/>
    <p class="sporsmalstekst">Skal bo i utlandet de neste 12 månedene?</p>
    {{# if medlemskap.skal_bo_i_utlandet_neste_12_mnd }}
        {{> jaNeiCheckbox parameter=medlemskap.skal_bo_i_utlandet_neste_12_mnd}}
        <ul>
            {{# each medlemskap.utenlandsopphold_neste_12_mnd as |opphold|~}}
                <li>
                    {{opphold.landnavn}} ({{opphold.fraOgMed}} - {{opphold.tilOgMed}})
                </li>
            {{/each}}
        </ul>
    {{else}}
        {{> jaNeiCheckbox parameter=false}}
    {{/if}}

    <!-- SAMTYKKE -->
    <br/>
    <br/>
    <h2><span>Samtykke</span></h2>

    <p class="sporsmalstekst">Har forstått rettigheter og plikter?</p>
    {{> jaNeiCheckbox parameter=samtykke.har_forstatt_rettigheter_og_plikter}}
    <hr/>
    <p class="sporsmalstekst">Har bekreftet opplysninger?</p>
    {{> jaNeiCheckbox parameter=samtykke.har_bekreftet_opplysninger}}
</div>

<!-- FOOTER -->
<div id="footer">
    <span class="soknadsid">{{ soknad_id }}</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</div>
</body>
</html>
