<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Søknad om pleiepenger for sykt barn eller person over 18 år</title>
    <meta name="subject" content="Søknad om pleiepenger for sykt barn eller person over 18 år"/>
    <meta name="author" content="nav.no"/>
    <meta name="description"
          content="Søknad om pleiepenger for sykt barn eller person over 18 år mottatt {{mottattDag}} {{ mottatt }}"/>
    <bookmarks>
        <bookmark name="Søker" href="#søker"/>
        <bookmark name="Barn" href="#barn"/>
        <bookmark name="Relasjon til barnet" href="#relasjonTilBarnet"/>
        <bookmark name="Perioder" href="#perioder"/>
        <bookmark name="Utenlandsopphold" href="#utenlandsopphold"/>
        <bookmark name="Arbeidsforhold" href="#arbeidsforhold"/>
        <bookmark name="Omsorgstilbud" href="#omsorgstilbud"/>
        <bookmark name="Nattevåk" href="#nattevaak"/>
        <bookmark name="Beredskap" href="#beredskap"/>
        <bookmark name="Frilans" href="#frilans"/>
        <bookmark name="Selvstendig" href="#selvstendig"/>
        <bookmark name="Medlemskap" href="#medlemskap"/>
        <bookmark name="Samtykke" href="#samtykke"/>
    </bookmarks>
    {{#block 'style-common' }} {{/block}}
</head>

<body>

<h1 id="header">Søknad om pleiepenger for sykt barn eller person over 18 år</h1>

<p class="nokkelinfo"><strong>Sendt til NAV </strong>{{mottattDag}} {{ mottattDato }}</p>

<div class="innholdscontainer">
    <div class="person" id="søker">
        <p>Søker</p>
        <p>
            {{ søker.norskIdentitetsnummer }}<br/>
        </p>
    </div>
    <div class="person" id="barn">
        <p>Barn</p>
        <p>
            {{# if barn.fødselsdato }}
                {{ barn.fødselsdato }} <br/>
            {{/if}}
            {{# if barn.norskIdentitetsnummer }}
                {{ barn.norskIdentitetsnummer }}
            {{else}}
                <span class="ikke_satt">ID ikke angitt</span>
            {{/if}}
        </p>
    </div>

    <section id="relasjonTilBarnet">
        {{#if relasjonTilBarnet}}
            <h2>Relasjon til barnet</h2>
            <p class="sporsmalstekst">Hvilken relasjon har du til barnet?</p>
            <p>{{relasjonTilBarnet}}</p>
            {{#if barnRelasjonBeskrivelse}}
                <p class="sporsmalstekst">Beskriv relasjon og tilsynsrolle?</p>
                <p>{{barnRelasjonBeskrivelse}}</p>
            {{/if}}
        {{/if}}
    </section>

    <section id="perioder">
        <h2>Perioder du søker om pleiepenger</h2>
        <ul>
            <li>
                <strong>{{ søknadperiode.fraOgMed }} - {{ søknadperiode.tilOgMed }}</strong><br/>
                <ul>
                    {{#if bekrefterPeriodeOver8Uker}}
                        <li>Du bekrefter at søknaden gjelder for en periode på mer enn 8 uker.</li>
                    {{/if}}

                    {{# if hjelp.harMedsøker }}
                        <li>
                            Du opplyser at en medsøker skal søke for samme periode som deg.<br/>
                            <ul>
                                {{# if samtidigHjemme }}
                                    <li>
                                        Du opplyser at du og medsøker skal være hjemme eller på sykehus samtidig.
                                    </li>
                                {{/if}}
                                {{#unless samtidigHjemme}}
                                    <li>
                                        Du opplyser at du og medsøker ikke skal være hjemme eller på sykehus samtidig.
                                    </li>
                                {{/unless}}
                            </ul>
                        </li>

                    {{else}}
                        <li>Det er ikke oppgitt andre medsøkere.</li>
                    {{/if}}

                    {{# if skal_passe_pa_barnet_i_hele_perioden}}<!--TODO: Må legges til fra k9-format-->
                        <li>
                            Du bekrefter at du har omsorgen for barnet i hele perioden du søker om.<br/>
                            {{# if beskrivelseAvOmsorgsrollen}}
                                <div class="fritekst">
                                    <p class="sporsmalstekst">Din beskrivelse av omsorgsrollen:</p>
                                    <p class="fritekst_textarea">{{fritekst beskrivelseAvOmsorgsrollen}}</p>
                                </div>
                            {{/if}}
                        </li>
                    {{/if}}
                </ul>
            </li>
        </ul>
    </section>

    <section id="utenlandsopphold">
        <h2>Perioder med utenlandsopphold og ferie</h2>
        <p class="sporsmalstekst">Skal du reise til utlandet i perioden du søker for?</p>

        <ul>
            {{# each utenlandsopphold as |opphold|~}}
                <li>
                    <p>Opphold i {{opphold.land}} i perioden: {{opphold.fraOgMed}} - {{opphold.tilOgMed}}</p>
                    <p>Årsak: {{opphold.årsak}}</p>
                    <br/>
                </li>
            {{/each}}
        </ul>


        <p class="sporsmalstekst">Skal du ha ferie i perioden du søker om?</p>
        {{# if hjelp.tarUtLovbestemtFerie }}
            <p>Du opplyser at du skal ha ferie</p>
            <ul>
                {{# each lovbestemtFerie as |ferieuttak|~}}
                    <li>
                        {{ferieuttak.fraOgMed}} - {{ferieuttak.tilOgMed}}
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>{{ jaNeiSvar hjelp.tarUtLovbestemtFerie }}</p>
        {{/if}}
    </section>

    <section id="arbeidsforhold">
        <h2>Dine arbeidsforhold</h2>
        {{# if hjelp.ingenArbeidsgivere }}
            <ul>
                <li class="ikke_satt">Du har ikke angitt noen arbeidsgivere i søknaden.</li>
            </ul>
        {{/if}}

        {{# if arbeidstid.harArbeidsgivere }}
        <ul>
            {{# each arbeidstid.arbeidstakerList as |org|~}}
                <li style="list-style-type:none;"><h3>Organisasjonsnummer: {{org.organisasjonsnummer}}</h3></li>
                <li>Du jobber vanligvis {{org.jobberNormaltimer}} timer pr. dag.</li>

                {{# each org.faktiskArbeidstimer as |arbeidstimer|~}}
                    <li>Du har faktisk jobbet {{arbeidstimer.faktiskArbeidTimerPerDag}} timer pr. dag i
                        perioden: {{arbeidstimer.fraOgMed}} - {{arbeidstimer.tilOgMed}}</li>
                {{/each}}

            </ul>
            {{/each}}
        {{/if}}
    </section>

    <section id="omsorgstilbud">
        {{# if hjelp.harTilsynsordning }}
            <h2>Omsorgstilbud</h2>
            <p class="sporsmalstekst">Skal barnet være i et omsorgstilbud i perioden du har søkt om?</p>

            <p>Barnet skal ha tilsyn:</p>
            <ul>
                {{# each tilsynsordning as |tilsyn|~}}
                    <li>{{tilsyn.etablertTilsynTimerPerDag}} timer pr. dag i perioden {{tilsyn.fraOgMed}}
                        - {{tilsyn.tilOgMed}}</li>
                {{/each}}
            </ul>

        {{/if}}
    </section>

    <section id="nattevaak">
        {{# if hjelp.harNattevåk }}
            <h2>Nattevåk</h2>
            <p class="sporsmalstekst">Må du være våken om natten for å pleie barnet, og derfor må være borte fra jobb
                dagen etter?</p>

            <ul>
                {{# each nattevåk as |våken|~}}
                    <li>Jeg har nattevåk i perioden: {{våken.fraOgMed}} - {{våken.tilOgMed}}</li>
                    {{# if våken.tilleggsinformasjon}}
                        <li style="list-style-type:none;">
                            <div class="fritekst">
                                <p class="sporsmalstekst">Tilleggsinformasjon:</p>
                                <p class="fritekst_textarea">{{våken.tilleggsinformasjon}}</p>
                            </div>
                        </li>
                    {{/if}}
                {{/each}}
            </ul>
        {{/if}}
    </section>

    <section id="beredskap">
        {{# if hjelp.iBeredskap }}
            <h2>Beredskap</h2>
            <p class="sporsmalstekst">Må du være i beredskap også når barnet er i et omsorgstilbud?</p>
            <ul>
                {{# each beredskap as |beredskap|~}}
                    <li>Jeg er i beredskap i perioden: {{beredskap.fraOgMed}} - {{beredskap.tilOgMed}}</li>
                    {{# if beredskap.tilleggsinformasjon}}
                        <li style="list-style-type:none;">
                            <div class="fritekst">
                                <p class="sporsmalstekst">Tilleggsinformasjon:</p>
                                <p class="fritekst_textarea">{{beredskap.tilleggsinformasjon}}</p>
                            </div>
                        </li>
                    {{/if}}
                {{/each}}
            </ul>
        {{/if}}
    </section>

    <section id="frilans">
        {{# if opptjening.frilans }}
            <h2>Frilans</h2>
            <p class="sporsmalstekst">Når startet du som frilanser?</p>
            <p>{{#dato opptjening.frilans.startdato}}{{/dato}}</p>
            <p class="sporsmalstekst">Har du jobbet og hatt inntekt som frilanser de siste 4 ukene?</p>
            <p>{{ jaNeiSvar true }}</p>
            <p class="sporsmalstekst">Jobber du fremdeles som frilanser?</p>
            <p>{{ jaNeiSvar opptjening.frilans.jobberFortsattSomFrilanser }}</p>
        {{/if}}
    </section>

    <section id="selvstendig">
        {{#if opptjening.selvstendignæringsdrivende}}
            <h2>Selvstendig næringsdrivende</h2>
            {{# each opptjening.selvstendignæringsdrivende as |virksomhet|~}}
                <h3>{{virksomhet.virksomhetsnavn}} ({{virksomhet.organisasjonsnummer}})</h3>

                <h4>Perioder</h4>
                <ul>
                    <li>
                        {{# each virksomhet.perioder as |periode|~}}
                            <b>{{periode.fraOgMed}} - {{periode.tilOgMed}}</b>

                            <p>Næringstype:
                                {{# each periode.periodeinfo.virksomhetstyper as |virksomhetstype|~}}
                                    {{#if @first}}
                                        {{virksomhetstype}}
                                    {{else}}
                                        , {{virksomhetstype}}
                                    {{/if}}
                                {{/each}}</p>
                            {{#if periode.periodeinfo.næringsinntekt}}
                                <p>Næringsinntekt: {{periode.næringsinntekt}},-</p>
                            {{/if}}
                            {{#if periode.periodeinfo.registrertIUtlandet}}
                                <p>Registrert i land: {{periode.periodeinfo.landkode}}</p>
                            {{else}}
                                <p>Registrert i Norge</p>
                            {{/if}}

                            {{#if periode.periodeinfo.erNyoppstartet}}
                                <p>Oppgi dato for når du ble yrkesaktiv: {{#dato
                                        virksomhet.yrkesAktivDato}}{{/dato}}</p>
                            {{/if}}
                            {{#if periode.periodeinfo.varigEndring}}
                                <h3>Varig endring</h3>
                                <ul>
                                    <li>
                                        <p>Dato for når varig endring oppsto: {{#dato
                                                periode.periodeinfo.endringDato}}{{/dato}}</p>
                                        <p>Næringsinntekt etter endringen: TODO: Mangler i k9-format</p>
                                        <div class="fritekst">
                                            <p class="sporsmalstekst">Din forklaring om varig endring:</p>
                                            <p class="fritekst_textarea">{{periode.periodeinfo.endringBegrunnelse}}</p>
                                        </div>
                                    </li>
                                </ul>
                            {{/if}}
                            {{#if periode.periodeinfo.regnskapsførerTlf}}
                                <h3>Regnskapsfører:</h3>
                                <ul>
                                    <li>
                                        <p>Navn: {{periode.periodeinfo.regnskapsførerNavn}}</p>
                                        <p>Telefon: {{periode.periodeinfo.regnskapsførerTlf}}</p>
                                    </li>
                                </ul>
                            {{/if}}
                            {{#if @last}}
                            {{else}}
                                <hr/>
                            {{/if}}
                        {{/each}}
                    </li>
                </ul>
            {{/each}}
        {{/if}}
    </section>

    <section id="medlemskap">
        <h2>Medlemskap i folketrygden</h2>
        <ul>
            {{# each bosteder as |bosted|~}}
                <li> Har bodd i {{bosted.landkode}} i perioden: {{bosted.fraOgMed}} - {{bosted.tilOgMed}}</li>
            {{/each}}
        </ul>
    </section>

    <section id="samtykke">
        <h2>Samtykke fra deg</h2>
        <p class="sporsmalstekst">Har du forstått dine rettigheter og plikter?</p>
        <p>{{ jaNeiSvar samtykke.harForståttRettigheterOgPlikter }}</p>
        <hr/>
        <p class="sporsmalstekst">Har du bekreftet at opplysninger som er gitt er riktige?</p>
        <p>{{ jaNeiSvar samtykke.harBekreftetOpplysninger }}</p>
    </section>
</div>
<!-- FOOTER -->
<p id="footer">
    <span class="soknadsid">{{ søknadId }}</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</p>
</body>

</html>
