<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Søknad om pleiepenger for sykt barn eller person over 18 år</title>
    <meta name="subject" content="Søknad om pleiepenger for sykt barn eller person over 18 år"/>
    <meta name="author" content="nav.no"/>
    <meta name="description"
          content="Søknad om pleiepenger for sykt barn eller person over 18 år mottatt {{soknad_mottatt_dag}} {{ soknad_mottatt }}"/>
    <bookmarks>
        <bookmark name="Søker" href="#søker"/>
        <bookmark name="Barn" href="#barn"/>
        <bookmark name="Relasjon til barnet" href="#relasjonTilBarnet"/>
        <bookmark name="Perioder" href="#perioder"/>
        <bookmark name="Utenlandsopphold" href="#utenlandsopphold"/>
        <bookmark name="Arbeidsforhold" href="#arbeidsforhold"/>
        <bookmark name="Omsorgstilbud" href="#omsorgstilbud"/>
        <bookmark name="Verneplikt" href="#verneplikt"/>
        <bookmark name="Nattevåk" href="#nattevaak"/>
        <bookmark name="Beredskap" href="#beredskap"/>
        <bookmark name="Frilans" href="#frilans"/>
        <bookmark name="Selvstendig" href="#selvstendig"/>
        <bookmark name="Medlemskap" href="#medlemskap"/>
        <bookmark name="Vedlegg" href="#vedlegg"/>
        <bookmark name="Samtykke" href="#samtykke"/>
    </bookmarks>
    {{#block 'style-common' }} {{/block}}
</head>

<body>
<h1 id="header">Søknad om pleiepenger for sykt barn eller person over 18 år</h1>

<p class="nokkelinfo"><strong>Sendt til NAV </strong>{{soknad_mottatt_dag}} {{ soknad_mottatt }}</p>

<div class="innholdscontainer">
    <div class="person" id="søker">
        <p>Søker</p>
        <p class="navn">
            {{ soker.navn }}
        </p>
        <p>
            {{ soker.fodselsnummer }}<br/>
        </p>
    </div>

    <div class="person" id="barn">
        <p>Barn</p>
        <p class="navn">
            {{# if barn.navn }}
                {{ barn.navn }}
            {{else}}
                <span class="ikke_satt">Navn ikke angitt</span>
            {{/if}}
        </p>
        <p>
            {{# if barn.id }}
                {{ barn.id }}
            {{else}}
                <span class="ikke_satt">ID ikke angitt</span>
            {{/if}}
        </p>
    </div>

    <section id="relasjonTilBarnet">
        {{#if barnRelasjon}}
            <h2>Relasjon til barnet</h2>
            <p class="sporsmalstekst">Hvilken relasjon har du til barnet?</p>
            <p>{{barnRelasjon}}</p>
            {{#if barnRelasjonBeskrivelse}}
                <p class="sporsmalstekst">Din beskrivelse av relasjon og tilsynsrolle for barnet:</p>
                <p>{{barnRelasjonBeskrivelse}}</p>
            {{/if}}
        {{/if}}
    </section>

    <section id="perioder">
        <h2>Perioder du søker om pleiepenger</h2>
        <ul>
            <li>
                <strong>{{ periode.fra_og_med }} - {{ periode.til_og_med }}</strong><br/>
                <ul>
                    {{# if hjelp.har_medsoker }}
                        <li>
                            Du opplyser at en medsøker skal søke for samme periode som deg.<br/>
                            <ul>
                                {{# if samtidig_hjemme }}
                                    <li>
                                        Du opplyser at du og medsøker skal være hjemme eller på sykehus samtidig.
                                    </li>
                                {{/if}}
                                {{#unless samtidig_hjemme}}
                                    <li>
                                        Du opplyser at du og medsøker ikke skal være hjemme eller på sykehus samtidig.
                                    </li>
                                {{/unless}}
                            </ul>
                        </li>

                    {{else}}
                        <li>Det er ikke oppgitt andre medsøkere.</li>
                    {{/if}}
                </ul>
            </li>
        </ul>
    </section>

    <section id="arbeidsforhold">
        <h2>Arbeidssituasjonen din</h2>
        {{# if hjelp.ingen_arbeidsgivere }}
            <ul>
                <li class="ikke_satt">Du har ikke angitt noen arbeidsgivere i søknaden</li>
            </ul>
        {{/if}}

        {{#if arbeidsgivere}}
            {{#each arbeidsgivere as |arbeidsgiver|~}}
                <ul class="ul-no-indent">
                    <li><b>{{arbeidsgiver.navn}} (orgnr: {{arbeidsgiver.organisasjonsnummer}})</b></li>
                    <li class="li-style-none">
                        <ul>
                            {{#if arbeidsgiver.erAnsatt}}
                                <li class="sporsmalstekst">Er ansatt</li>
                            {{else}}
                                <li class="sporsmalstekst">Er ikke ansatt</li>
                            {{/if}}
                        </ul>
                    </li>
                    {{#if arbeidsgiver.arbeidsforhold}}
                        {{> partial/arbeidsforholdPartial arbeidsforhold=arbeidsgiver.arbeidsforhold}}
                    {{/if}}
                </ul>
            {{/each}}
        {{/if}}

        {{#if frilans.arbeidsforhold}}
            <ul class="ul-no-indent">
                <li><b>Frilans</b></li>
                {{#if frilans.arbeidsforhold}}
                    {{> partial/arbeidsforholdPartial arbeidsforhold=frilans.arbeidsforhold}}
                {{/if}}
            </ul>
        {{/if}}

        {{#if selvstendigNæringsdrivende.arbeidsforhold}}
            <ul class="ul-no-indent">
                <li><b>Selvstendig næringsdrivende</b></li>
                {{> partial/arbeidsforholdPartial arbeidsforhold=selvstendigNæringsdrivende.arbeidsforhold}}
            </ul>
        {{/if}}

    </section>

    <section id="frilans">
        {{# if frilans }}
            <h2>Frilans</h2>
            <p class="sporsmalstekst">Er du frilanser i perioden du søker for?</p>
            <p>{{ jaNeiSvar true }}</p>
            <p class="sporsmalstekst">Når startet du som frilanser?</p>
            <p>{{frilans.startdato}}</p>
            <p class="sporsmalstekst">Jobber du fremdeles som frilanser?</p>
            <p>{{ jaNeiSvar frilans.jobberFortsattSomFrilans }}</p>

            {{#unless frilans.jobberFortsattSomFrilans}}
                <p class="sporsmalstekst">Når sluttet du som frilanser?</p>
                <p>{{frilans.sluttdato}}</p>
            {{/unless}}
        {{else}}
            <h2>Frilans</h2>
            <p>Har ikke vært frilanser i perioden det søkes om.</p>
        {{/if}}
    </section>

    <section id="selvstendig">
        {{#if selvstendigNæringsdrivende}}
            <h2>Selvstendig næringsdrivende</h2>

            {{#if selvstendigNæringsdrivende.virksomhet.næringsinntekt}}
                <p>Næringsinntekt: {{selvstendigNæringsdrivende.virksomhet.næringsinntekt}},-</p>
            {{/if}}

            {{#if selvstendigNæringsdrivende.virksomhet.yrkesaktivSisteTreFerdigliknedeÅrene}}
                <p>Oppgi dato for når du ble yrkesaktiv: {{selvstendigNæringsdrivende.virksomhet.yrkesaktivSisteTreFerdigliknedeÅrene.oppstartsdato}}</p>
            {{/if}}

            {{#if selvstendigNæringsdrivende.virksomhet.varigEndring}}
                <h3>Varig endring</h3>
                <ul>
                    <li>
                        <p>Dato for når varig endring oppsto: {{selvstendigNæringsdrivende.virksomhet.varigEndring.dato}}</p>
                        <p>Næringsinntekt etter endringen: {{selvstendigNæringsdrivende.virksomhet.varigEndring.inntektEtterEndring}}</p>
                        <div class="fritekst">
                            <p class="sporsmalstekst">Din forklaring om varig endring:</p>
                            <p class="fritekst_textarea">{{selvstendigNæringsdrivende.virksomhet.varigEndring.forklaring}}</p>
                        </div>
                    </li>
                </ul>
            {{/if}}

            {{#if hjelper.harFlereAktiveVirksomheterErSatt}}
                <p class="sporsmalstekst">Har du flere enn én næringsvirksomhet som er aktiv?</p>
                {{jaNeiSvar selvstendigNæringsdrivende.virksomhet.harFlereAktiveVirksomheter}}
            {{/if}}

            <h3>Næringsvirksomhet som du har lagt inn:</h3>
            <h3>{{selvstendigNæringsdrivende.virksomhet.navnPåVirksomheten}} (startet {{selvstendigNæringsdrivende.virksomhet.fraOgMed}},
                {{#if selvstendigNæringsdrivende.virksomhet.tilOgMed}}
                    avsluttet {{selvstendigNæringsdrivende.virksomhet.tilOgMed}})
                {{else}}
                    er pågående)
                {{/if}}</h3>

            <p>Næringstype:
                {{# each selvstendigNæringsdrivende.virksomhet.næringstyper as |næringstype|~}}
                    {{#if @first}}
                        {{næringstype.navn}}
                    {{else}}
                        , {{næringstype.navn}}
                    {{/if}}
                    {{#eq næringstype.navn "Fiske"}}
                        {{#if selvstendigNæringsdrivende.virksomhet.fiskerErPåBladB}}
                            (blad B)
                        {{else}}
                            (ikke blad B)
                        {{/if}}
                    {{/eq}}
                {{/each}}</p>

            {{#if selvstendigNæringsdrivende.virksomhet.registrertINorge}}
                <p>Registrert i Norge</p>
                <p>Organisasjonsnummer: {{selvstendigNæringsdrivende.virksomhet.organisasjonsnummer}}</p>
            {{else}}
                <p>Registrert i land: {{selvstendigNæringsdrivende.virksomhet.registrertIUtlandet.landnavn}}
                    ({{selvstendigNæringsdrivende.virksomhet.registrertIUtlandet.landkode}})</p>
            {{/if}}

            {{#if selvstendigNæringsdrivende.virksomhet.regnskapsfører}}
                <h3>Regnskapsfører:</h3>
                <ul>
                    <li>
                        <p>Navn: {{selvstendigNæringsdrivende.virksomhet.regnskapsfører.navn}}</p>
                        <p>Telefon: {{selvstendigNæringsdrivende.virksomhet.regnskapsfører.telefon}}</p>
                    </li>
                </ul>
            {{/if}}
        {{else}}
            <h2>Selvstendig næringsdrivende</h2>
            <p>Har ikke vært selvstending næringsdrivende i perioden det søkes om.</p>
        {{/if}}
    </section>

    <section id="verneplikt">
        {{# if hjelper.harVærtEllerErVernepliktigErSatt}}
            <h2>Verneplikt</h2>
            <p class="sporsmalstekst">Utøvde du verneplikt på tidspunktet du søker pleiepenger fra?</p>
            <p>{{ jaNeiSvar harVærtEllerErVernepliktig }}</p>
        {{/if}}
    </section>

    <section id="omsorgstilbud">
        <h2>Omsorgstilbud</h2>
        {{#if omsorgstilbud.periodenStarterIFortid}}
            <p class="sporsmalstekst">Har barnet vært fast og regelmessig i et omsorgstilbud i perioden {{omsorgstilbud.søknadsperiodeFraOgMed}} til {{omsorgstilbud.fortidTilOgMed}}?</p>

            {{#if omsorgstilbud.historisk}}
                <p>Ja</p>
                <br/>
                <p class="sporsmalstekst">Tid barnet var i omsorgstilbud:</p>
                <ul class="ul-no-indent">
                    {{#each omsorgstilbud.historisk.enkeltdagerPerMnd as |enkeltdagerPerMnd|~}}
                        <li>
                            <p><b>{{enkeltdagerPerMnd.måned}} {{enkeltdagerPerMnd.år}}</b></p>
                            <ul class="ul-no-indent">
                                {{#each enkeltdagerPerMnd.enkeltdagerPerUke as |enkeltdagerPerUke|~}}
                                    <li>
                                        <p>Uke {{enkeltdagerPerUke.uke}}</p>
                                        <ul>
                                            {{#each enkeltdagerPerUke.dager as |enkeltdag|~}}
                                                <li>
                                                    <p>{{enkeltdag.dato}}: {{enkeltdag.tid}}</p>
                                                </li>
                                            {{/each}}
                                        </ul>
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <p>Nei</p>
            {{/if}}
        {{/if}}

        {{#if omsorgstilbud.periodenAvsluttesIFremtiden}}
            <p class="sporsmalstekst">Skal barnet være fast og regelmessig i et omsorgstilbud i perioden {{omsorgstilbud.fremtidFraOgMed}} til {{omsorgstilbud.søknadsperiodeTilOgMed}}?</p>

            {{#if omsorgstilbud.planlagt}}
                <p>Ja</p>

                {{#if omsorgstilbud.planlagt.harSvartPåErLiktHverDag}}
                    <p><span class="sporsmalstekst">Er tiden barnet skal være i omsorgstilbudet lik for hver dag i perioden du søker om? Det
                                    vil si at alle mandager er like, alle tirsdager er like og så videre</span></p>
                    <p>{{ jaNeiSvar omsorgstilbud.planlagt.erLiktHverDag }}</p>
                {{/if}}

                <br/>

                <p class="sporsmalstekst">Tid barnet skal være i omsorgstilbudet:</p>
                <ul class="ul-no-indent">
                    {{#each omsorgstilbud.planlagt.enkeltdagerPerMnd as |enkeltdagerPerMnd|~}}
                                <li>
                                    <p><b>{{enkeltdagerPerMnd.måned}} {{enkeltdagerPerMnd.år}}</b></p>
                                    <ul class="ul-no-indent">
                                        {{#each enkeltdagerPerMnd.enkeltdagerPerUke as |enkeltdagerPerUke|~}}
                                            <li>
                                                <p>Uke {{enkeltdagerPerUke.uke}}</p>
                                                <ul>
                                                    {{#each enkeltdagerPerUke.dager as |enkeltdag|~}}
                                                        <li>
                                                            <p>{{enkeltdag.dato}}:    {{enkeltdag.tid}}</p>
                                                        </li>
                                                    {{/each}}
                                                </ul>
                                            </li>
                                        {{/each}}
                                    </ul>
                                </li>
                            {{/each}}
                        </ul>

                {{#if omsorgstilbud.planlagt.ukedager}}
                    <p><b>Mandager:</b> {{omsorgstilbud.planlagt.ukedager.mandag}}</p>
                    <p><b>Tirsdager:</b> {{omsorgstilbud.planlagt.ukedager.tirsdag}}</p>
                    <p><b>Onsdager:</b> {{omsorgstilbud.planlagt.ukedager.onsdag}}</p>
                    <p><b>Torsdager:</b> {{omsorgstilbud.planlagt.ukedager.torsdag}}</p>
                    <p><b>Fredager:</b> {{omsorgstilbud.planlagt.ukedager.fredag}}</p>
                    <br/>
                {{/if}}
            {{else}}
                <p>Nei</p>
            {{/if}}
        {{/if}}
    </section>

    <section id="nattevaak">
        {{# if nattevaak }}
            <h2>Nattevåk</h2>
            <p class="sporsmalstekst">Må du være våken om natten for å pleie barnet, og derfor må være borte fra jobb
                dagen etter?</p>
            <p>{{ jaNeiSvar nattevaak.har_nattevaak }}</p>
            {{# if nattevaak.tilleggsinformasjon }}
                <div class="fritekst">
                    <p class="sporsmalstekst">Dine tilleggsopplysninger:</p>
                    <p class="fritekst_textarea">{{fritekst nattevaak.tilleggsinformasjon}}</p>
                </div>
            {{/if}}
        {{/if}}
    </section>

    <section id="beredskap">
        {{# if beredskap }}
            <h2>Beredskap</h2>
            <p class="sporsmalstekst">Må du være i beredskap også når barnet er i et omsorgstilbud?</p>
            <p>{{ jaNeiSvar beredskap.i_beredskap }}</p>
            {{# if beredskap.tilleggsinformasjon }}
                <div class="fritekst">
                    <p class="sporsmalstekst">Dine tilleggsopplysninger:</p>
                    <p class="fritekst_textarea">{{fritekst beredskap.tilleggsinformasjon}}</p>
                </div>
            {{/if}}
        {{/if}}
    </section>

    <section id="utenlandsopphold">
        <h2>Perioder med utenlandsopphold og ferie</h2>
        <p class="sporsmalstekst">Skal du reise til utlandet i perioden du søker om pleiepenger?</p>
        {{# if utenlandsoppholdIPerioden.skalOppholdeSegIUtlandetIPerioden }}
            <p>{{ jaNeiSvar utenlandsoppholdIPerioden.skalOppholdeSegIUtlandetIPerioden }}</p>
            <ul>
                {{# each utenlandsoppholdIPerioden.opphold as |opphold|~}}
                    <li>
                        <p>{{opphold.landnavn}}{{#if opphold.erUtenforEØS}}
                            (utenfor EØS) {{/if}}: {{opphold.fraOgMed}} - {{opphold.tilOgMed}}</p>
                        {{#if opphold.erUtenforEØS}}
                            {{#if opphold.erBarnetInnlagt}}
                                <p><b>Er barnet innlagt?</b> {{ jaNeiSvar opphold.erBarnetInnlagt }}</p>
                                <p><b>Perioder:</b>
                                    {{# each opphold.perioderBarnetErInnlagt as |periode| }}
                                        {{#if @last}}
                                            {{periode.fraOgMed}} - {{periode.tilOgMed}}
                                        {{else}}
                                            {{periode.fraOgMed}} - {{periode.tilOgMed}},
                                        {{/if}}
                                    {{/each}}</p>
                                <p>{{opphold.årsak}}</p>
                            {{/if}}
                        {{/if}}
                        <br/>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>{{ jaNeiSvar utenlandsoppholdIPerioden.skalOppholdeSegIUtlandetIPerioden }}</p>
        {{/if}}

        <p class="sporsmalstekst">Skal du ha ferie i perioden du søker om pleiepenger?</p>
        {{# if ferieuttakIPerioden.skalTaUtFerieIPerioden }}
            <p>Du opplyser at du skal ha ferie</p>
            <ul>
                {{# each ferieuttakIPerioden.ferieuttak as |ferieuttak|~}}
                    <li>
                        {{ferieuttak.fraOgMed}} - {{ferieuttak.tilOgMed}}
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>{{ jaNeiSvar utenlandsoppholdIPerioden.skalTaUtFerieIPerioden }}</p>
        {{/if}}
    </section>

    <section id="medlemskap">
        <h2>Medlemskap i folketrygden</h2>
        <p class="sporsmalstekst">Har du bodd i utlandet de siste 12 månedene?</p>
        {{# if medlemskap.har_bodd_i_utlandet_siste_12_mnd }}
            <p>Ja</p>
            <ul>
                {{# each medlemskap.utenlandsopphold_siste_12_mnd as |opphold|~}}
                    <li>
                        {{opphold.landnavn}} ({{opphold.fraOgMed}} - {{opphold.tilOgMed}})
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>Nei</p>{{/if}}
        <hr/>
        <p class="sporsmalstekst">Skal du bo i utlandet de neste 12 månedene?</p>
        {{# if medlemskap.skal_bo_i_utlandet_neste_12_mnd }}
            <p>Ja</p>
            <ul>
                {{# each medlemskap.utenlandsopphold_neste_12_mnd as |opphold|~}}
                    <li>
                        {{opphold.landnavn}} ({{opphold.fraOgMed}} - {{opphold.tilOgMed}})
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>Nei</p>{{/if}}
    </section>

    <section id="vedlegg">
        <!-- Info om har ikke lastet opp vedlegg -->
        {{#if harIkkeVedlegg}}
            <h2>Legeerklæring</h2>
            <p>Ingen vedlegg er lastet opp.</p>
        {{/if}}
    </section>

    <section id="samtykke">
        <h2>Samtykke fra deg</h2>
        <p class="sporsmalstekst">Har du forstått dine rettigheter og plikter?</p>
        <p>{{ jaNeiSvar samtykke.har_forstatt_rettigheter_og_plikter }}</p>
        <hr/>
        <p class="sporsmalstekst">Har du bekreftet at opplysninger som er gitt er riktige?</p>
        <p>{{ jaNeiSvar samtykke.har_bekreftet_opplysninger }}</p>
    </section>
</div>
<!-- FOOTER -->
<p id="footer">
    <span class="soknadsid">{{ soknad_id }}</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</p>
</body>

</html>
